.version.about_us /* version checker */
{
	color: #0000E4;
	background-color: #CE16AB;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 1022px;
	min-height: 5133px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

.FooterSubline
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -71px;
	width: 0.01px;
}

#u892
{
	z-index: 2;
	min-height: 252.50000000000014px;
	padding-bottom: 0px;
}

#u892_position_content
{
	padding-bottom: 110px;
}

#u5806
{
	z-index: 351;
	width: 50px;
	min-height: 25px;
	left: 1022px;
	margin-top: 27px;
}

#u2514
{
	z-index: 255;
	width: 573px;
	left: 549px;
	margin-top: 17px;
}

#u2558
{
	z-index: 256;
	width: 573px;
	margin-right: -10000px;
}

#menuu2515
{
	z-index: 257;
	width: 573px;
	margin-right: -10000px;
}

#u2523
{
	width: 174px;
	min-height: 56px;
	margin-right: -10000px;
}

#u2540
{
	width: 174px;
	padding-bottom: 8px;
}

#u2540:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2540.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2543
{
	height: 48px;
	width: 146px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2524
{
	width: 173px;
	top: 56px;
}

#u2529
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2532-4
{
	width: 69px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 48px;
}

#u2529:hover #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2534
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529.MuseMenuActive,#u2534:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2536-4
{
	width: 79px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 43px;
}

#u2534:hover #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u5250
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2534.MuseMenuActive,#u5250:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u5250:hover #u5252-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2516
{
	width: 177px;
	min-height: 56px;
	margin-right: -10000px;
	left: 194px;
}

#u2517
{
	width: 177px;
	padding-bottom: 8px;
}

#u2517:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2517.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2519
{
	height: 48px;
	width: 149px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2521
{
	width: 176px;
	top: 56px;
}

#u3840
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3842-4
{
	width: 58px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 55px;
}

#u3840:hover #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3849
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840.MuseMenuActive,#u3849:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-4
{
	width: 86px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u3849:hover #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3858
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3849.MuseMenuActive,#u3858:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3860-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u5250.MuseMenuActive #u5252-4,#u3858:hover #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3866
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3858.MuseMenuActive,#u3866:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3868-4
{
	width: 123px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 23px;
}

#u3866:hover #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 182px;
	min-height: 56px;
	margin-right: -10000px;
	left: 391px;
}

#u2566
{
	width: 182px;
	padding-bottom: 8px;
}

#u2566:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2566.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2569
{
	height: 48px;
	width: 155px;
	margin-right: -10000px;
	top: 4px;
	left: 13px;
}

#u2564
{
	width: 182px;
	top: 56px;
}

#u3762
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3764-4
{
	width: 137px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3762:hover #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u3776
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762.MuseMenuActive,#u3776:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3779-4
{
	width: 50px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 62px;
}

#u3776:hover #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3785
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3776.MuseMenuActive,#u3785:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3786-4
{
	width: 96px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 39px;
}

#u3785:hover #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3792
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3785.MuseMenuActive,#u3792:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	width: 140px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u3792:hover #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3799
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3792.MuseMenuActive,#u3799:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3800-4
{
	width: 94px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u3799:hover #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u892-bw
{
	z-index: 2;
	min-height: 252.50000000000014px;
	margin-top: 71px;
}

#u971-4
{
	z-index: 138;
	width: 950px;
	min-height: 55px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 136px;
}

#u966-4
{
	z-index: 142;
	width: 612px;
	min-height: 59px;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	font-size: 63px;
	line-height: 76px;
	color: #000000;
	text-align: center;
	font-family: unifrakturmaguntia, fantasy;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 306px;
}

#u1250
{
	z-index: 154;
	min-height: 63px;
	padding-bottom: 362px;
	background: transparent url("../images/swecqueiswheretheheartis.jpg") no-repeat center center;
	background-size: cover;
}

#u1250_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
}

#u1509
{
	z-index: 163;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -37px;
	left: 818px;
}

#u1250-bw
{
	z-index: 154;
	min-height: 63px;
	margin-top: 385px;
}

#u5188
{
	z-index: 254;
	width: 428px;
	margin-right: -10000px;
	left: 100px;
}

#pu7249
{
	width: 0.01px;
	padding-bottom: 576px;
	margin-left: -100px;
	margin-top: -739px;
}

#u7249
{
	z-index: 352;
	height: 113px;
	top: 0px;
}

#u7249-bw
{
	z-index: 352;
}

#u3880
{
	z-index: 353;
	width: 1022px;
	top: 355px;
	left: 0px;
}

#u5471
{
	z-index: 355;
	width: 221px;
	margin-right: -10000px;
}

#u3881
{
	z-index: 354;
	width: 789px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 233px;
}

#menuu5359
{
	z-index: 356;
	width: 569px;
	margin-right: -10000px;
	left: -1px;
}

#u5395
{
	width: 173px;
	min-height: 59px;
	margin-right: -10000px;
}

#u5396
{
	width: 173px;
	padding-bottom: 23px;
}

#u5396:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5396.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5398-4
{
	width: 134px;
	min-height: 36px;
	margin-right: -10000px;
	top: 11px;
	left: 19px;
}

#u5396:hover #u5398-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 134px;
	margin: 0px -10000px 0px 0px;
}

#u5396.MuseMenuActive #u5398-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 134px;
	margin: 0px -10000px 0px 0px;
}

#u5400
{
	width: 173px;
	top: 59px;
}

#u5410
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5250.MuseMenuActive,#u5410:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5411-4
{
	width: 69px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 48px;
}

#u2529.MuseMenuActive #u2532-4,#u5410:hover #u5411-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5410.MuseMenuActive #u5411-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5419
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5410.MuseMenuActive,#u5419:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5420-4
{
	width: 79px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 43px;
}

#u2534.MuseMenuActive #u2536-4,#u5419:hover #u5420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u5419.MuseMenuActive #u5420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2525,#u2526,#u2533,#u5249,#u5401,#u5409,#u5416,#u5402
{
	width: 173px;
}

#u5405
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5419.MuseMenuActive,#u5405:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5405.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5406-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u3858.MuseMenuActive #u3860-4,#u5405:hover #u5406-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u5360
{
	width: 175px;
	min-height: 59px;
	margin-right: -10000px;
	left: 193px;
}

#u5361
{
	width: 175px;
	padding-bottom: 23px;
}

#u5361:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u5361.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u5364-4
{
	width: 137px;
	min-height: 36px;
	margin-right: -10000px;
	top: 11px;
	left: 19px;
}

#u5361:hover #u5364-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u5361.MuseMenuActive #u5364-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u5365
{
	width: 176px;
	top: 59px;
}

#u5375
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3866.MuseMenuActive,#u5375:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5376-4
{
	width: 58px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 55px;
}

#u3840.MuseMenuActive #u3842-4,#u5375:hover #u5376-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u5375.MuseMenuActive #u5376-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u5389
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5375.MuseMenuActive,#u5389:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5392-4
{
	width: 86px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u3849.MuseMenuActive #u3851-4,#u5389:hover #u5392-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5389.MuseMenuActive #u5392-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5384
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5389.MuseMenuActive,#u5384:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5386-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u5405.MuseMenuActive #u5406-4,#u5384:hover #u5386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u5384.MuseMenuActive #u5386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2522,#u3839,#u3848,#u3855,#u3863,#u5366,#u5374,#u5388,#u5381,#u5367
{
	width: 176px;
}

#u5370
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5384.MuseMenuActive,#u5370:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5370.MuseMenuActive
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5372-4
{
	width: 123px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 23px;
}

#u3866.MuseMenuActive #u3868-4,#u5370:hover #u5372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u5370.MuseMenuActive #u5372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u5423
{
	width: 181px;
	min-height: 59px;
	margin-right: -10000px;
	left: 388px;
}

#u5461
{
	width: 181px;
	padding-bottom: 23px;
}

#u5461:hover
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u5461.MuseMenuActive
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u5464-4
{
	width: 143px;
	min-height: 36px;
	margin-right: -10000px;
	top: 11px;
	left: 19px;
}

#u5461:hover #u5464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u5461.MuseMenuActive #u5464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u5424
{
	width: 182px;
	top: 59px;
}

#u5427
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3799.MuseMenuActive,#u5427:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5429-4
{
	width: 137px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3762.MuseMenuActive #u3764-4,#u5427:hover #u5429-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u5427.MuseMenuActive #u5429-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u5443
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5427.MuseMenuActive,#u5443:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5445-4
{
	width: 50px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 62px;
}

#u3776.MuseMenuActive #u3779-4,#u5443:hover #u5445-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u5443.MuseMenuActive #u5445-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u5455
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5443.MuseMenuActive,#u5455:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5458-4
{
	width: 96px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 39px;
}

#u3785.MuseMenuActive #u3786-4,#u5455:hover #u5458-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u5455.MuseMenuActive #u5458-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u5448
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5455.MuseMenuActive,#u5448:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5450-4
{
	width: 140px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u3792.MuseMenuActive #u3794-4,#u5448:hover #u5450-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u5448.MuseMenuActive #u5450-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u2565,#u3761,#u3775,#u3782,#u3789,#u3796,#u5425,#u5426,#u5440,#u5454,#u5447,#u5433
{
	width: 182px;
}

#u5436
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5448.MuseMenuActive,#u5436:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5436.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5439-4
{
	width: 94px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u3799.MuseMenuActive #u3800-4,#u5436:hover #u5439-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u5436.MuseMenuActive #u5439-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u7286
{
	z-index: 453;
	width: 168px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 407px;
	left: 854px;
}

#u7287
{
	z-index: 454;
	width: 168px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u7287:hover
{
	background-color: #EBEAEA;
	width: 168px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7288-4
{
	z-index: 455;
	width: 97px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 21px;
}

#u7289
{
	z-index: 459;
	overflow: hidden;
	position: relative;
	width: 44px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 115px;
}

#u1268-4
{
	z-index: 146;
	width: 911px;
	min-height: 32px;
	background-color: transparent;
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 56px;
	position: relative;
}

#pu1259-4
{
	width: 0.01px;
	margin-left: 56px;
	margin-top: 17px;
}

#u1259-4
{
	z-index: 150;
	width: 910px;
	min-height: 115px;
	background-color: transparent;
	line-height: 24px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
}

#u3655-4
{
	z-index: 230;
	width: 168px;
	min-height: 30px;
	background-color: transparent;
	color: #3AD0CF;
	font-size: 24px;
	line-height: 29px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 371px;
}

#u3655-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 168px;
	margin: 94px -10000px 0px 0px;
}

#u3655-4:hover p,#u3655-4:hover h2
{
	color: #3AD0CF;
	visibility: inherit;
}

#u3655-4 > *
{
	color: #2BA0AB;
}

#u4907
{
	z-index: 240;
	height: 46px;
	width: 60px;
	vertical-align: top;
	margin-left: 481px;
	margin-top: 11px;
	position: relative;
	background: url("../images/down95-u4907.png") no-repeat 0px 0px;
}

#u4907:hover
{
	background: url("../images/down95-u4907-r.png") no-repeat 0px 0px;
}

#u1277
{
	z-index: 137;
	min-height: 1744.7999999999993px;
	background: #1EBEEA url("../images/u1277-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(38%, #146D93),to(#1EBEEA));
	background: -webkit-linear-gradient(top,#146D93 38%,#1EBEEA );
	background: linear-gradient(to bottom,#146D93 38%,#1EBEEA );
	padding-bottom: 0px;
}

#u1277_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
	padding-top: 174px;
	padding-bottom: 119px;
}

#history,#established
{
	left: 37px;
	position: relative;
}

#u1416
{
	z-index: 157;
	width: 600px;
	height: 550px;
	background-color: transparent;
	left: 311px;
	margin-top: 81px;
	position: relative;
}

#U3658_animation
{
	width: 600px;
	height: 550px;
	border: none;
}

#ss_logo
{
	left: 37px;
	margin-top: 216px;
	position: relative;
}

#the_team
{
	left: 37px;
	margin-top: 551px;
	position: relative;
}

#u1277-bw
{
	z-index: 137;
	min-height: 1744.7999999999993px;
}

#u3662
{
	z-index: 234;
	width: 1200px;
	height: 500px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1163px;
	left: 11px;
}

#U3672_animation
{
	width: 1200px;
	height: 500px;
	border: none;
}

#u1427-4
{
	z-index: 235;
	width: 660px;
	min-height: 77px;
	border-style: solid;
	line-height: 72px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1690px;
	left: 282px;
	border-width: 0px 0px 3px;
}

.Headerbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 3px;
}

#u4914
{
	z-index: 243;
	height: 46px;
	width: 60px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 823px;
	left: 581px;
	background: url("../images/down95-u4914.png") no-repeat 0px 0px;
}

#u4914:hover
{
	background: url("../images/down95-u4914-r.png") no-repeat 0px 0px;
}

#u1496-4
{
	z-index: 159;
	width: 910px;
	min-height: 114px;
	background-color: transparent;
	line-height: 24px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 57px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1587
{
	z-index: 164;
	height: 415px;
	background: transparent url("../images/swagpatrick-thimo2.jpg") no-repeat center center;
	background-size: cover;
}

#u1587-bw
{
	z-index: 164;
	margin-top: 2px;
	height: 415px;
}

#u2017
{
	z-index: 166;
	min-height: 668px;
	background-color: #000000;
	padding-bottom: 9px;
}

#u2017_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u2019-36
{
	z-index: 193;
	width: 425px;
	min-height: 251px;
	background-color: transparent;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 3px;
	color: #EFEFEF;
	text-align: right;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 176px;
}

#u2016-26
{
	z-index: 167;
	width: 440px;
	min-height: 263px;
	background-color: transparent;
	color: #EFEFEF;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 1px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 621px;
}

#u2017-bw
{
	z-index: 166;
	min-height: 668px;
	margin-top: -1px;
}

#pu892,#pu1277,#pu1270-7
{
	width: 0.01px;
	margin-left: -100px;
}

#u1270-7
{
	z-index: 3;
	min-height: 378px;
	color: #000000;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	text-indent: 0px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	visibility: inherit;
	background: transparent url("../images/michelangelo-71282-u1270-7-fr.png") no-repeat center center;
	background-size: cover;
}

#u1270-7 > *
{
	padding-top: 40px;
}

#u1270-7-bw
{
	z-index: 3;
	min-height: 378px;
}

#u2040
{
	z-index: 229;
	width: 363px;
	min-height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 48px;
	text-align: right;
	line-height: 58px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 343px;
}

#u6826
{
	z-index: 245;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 736px;
}

#u6965-4
{
	z-index: 246;
	width: 548px;
	min-height: 77px;
	border-style: solid;
	line-height: 72px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 322px;
	left: 337px;
	border-width: 0px 0px 3px;
}

#u6966-4
{
	z-index: 250;
	width: 914px;
	min-height: 70px;
	background-color: transparent;
	line-height: 24px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 54px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1259-4 > *,#u1496-4 > *,#u2016-26 > *,#u6966-4 > *
{
	padding-top: 5px;
}

#u6976
{
	z-index: 10;
	height: 398px;
	background: transparent url("../images/street-962796_1920.jpg") no-repeat center center;
	background-size: cover;
}

#u6976-bw
{
	z-index: 10;
	margin-top: 29px;
	height: 398px;
}

#pu2378
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -24px;
}

#u2378
{
	z-index: 11;
	min-height: 286.9500000000007px;
	padding-bottom: 0px;
}

#u892_align_to_page,#u2378_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	left: -100px;
}

#u2378_position_content
{
	margin-top: -86px;
	padding-bottom: 17px;
}

#pu5191
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u5191
{
	z-index: 19;
	width: 243px;
	margin-right: -10000px;
}

#pu6560
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 55px;
	margin-left: 271px;
}

#u6560
{
	z-index: 12;
	width: 739px;
	padding-bottom: 5px;
}

#u6561-4
{
	z-index: 112;
	width: 173px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 72px;
}

#u6889
{
	z-index: 124;
	width: 259px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 418px;
}

#u6861
{
	z-index: 126;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
}

#u6871
{
	z-index: 132;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 73px;
}

#u6883
{
	z-index: 135;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 146px;
}

#u6866
{
	z-index: 129;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 211px;
}

#pu3823
{
	width: 0.01px;
	margin-top: 14px;
}

#u3823
{
	z-index: 37;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3812-4
{
	z-index: 38;
	width: 230px;
	min-height: 34px;
}

#u3813-4
{
	z-index: 42;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3814-4
{
	z-index: 46;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3815-4
{
	z-index: 50;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3816-4
{
	z-index: 54;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3833
{
	z-index: 79;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 250px;
}

#u3817-4
{
	z-index: 80;
	width: 230px;
	min-height: 34px;
}

#u3818-4
{
	z-index: 84;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3819-4
{
	z-index: 88;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3820-4
{
	z-index: 92;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3830-4
{
	z-index: 96;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3832
{
	z-index: 58;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 500px;
}

#u3826-4
{
	z-index: 59;
	width: 230px;
	min-height: 34px;
}

#u3831-4
{
	z-index: 75;
	width: 111px;
	min-height: 20px;
	margin-top: 9px;
}

#u3831-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 111px;
	margin: 9px 0px 0px;
}

#u3827-4
{
	z-index: 63;
	width: 111px;
	min-height: 20px;
	margin-top: 5px;
}

#u3828-4
{
	z-index: 67;
	width: 111px;
	min-height: 20px;
	margin-top: 5px;
}

#u3829-4
{
	z-index: 71;
	width: 111px;
	min-height: 20px;
	margin-top: 5px;
}

#u3827-4:hover,#u3828-4:hover,#u3829-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 111px;
	margin: 5px 0px 0px;
}

#pu2377-6
{
	width: 0.01px;
	left: 121px;
	margin-top: 27px;
	position: relative;
}

#u2377-6
{
	z-index: 13;
	width: 344px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u6656
{
	z-index: 120;
	width: 192px;
	margin-right: -10000px;
	left: 409px;
}

#u6655
{
	z-index: 121;
	width: 192px;
	margin-right: -10000px;
}

#u6543
{
	z-index: 122;
	width: 67px;
	margin-bottom: -8px;
	margin-right: -10000px;
	margin-top: -6px;
	left: -31px;
}

#u4016-4
{
	z-index: 100;
	width: 285px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 695px;
}

#u4016-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 285px;
	margin: 32px -10000px 0px 0px;
}

#u2378-bw
{
	z-index: 11;
	min-height: 286.9500000000007px;
	margin-top: 19px;
}

#u3822
{
	z-index: 20;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 121px;
}

#u3803-4
{
	z-index: 21;
	width: 230px;
	min-height: 34px;
}

#u3805-4
{
	z-index: 25;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3813-4:hover,#u3818-4:hover,#u3805-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3805-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3809-4
{
	z-index: 29;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3810-4
{
	z-index: 33;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3814-4:hover,#u3815-4:hover,#u3816-4:hover,#u3819-4:hover,#u3820-4:hover,#u3830-4:hover,#u3809-4:hover,#u3810-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 5px 0px 0px;
}

#u6534-4
{
	z-index: 104;
	width: 111px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 138px;
	left: 990px;
}

#u6534-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 111px;
	margin: 138px -10000px 0px 0px;
}

#u6537-4
{
	z-index: 108;
	width: 111px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 113px;
	left: 990px;
}

#u6537-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 111px;
	margin: 113px -10000px 0px 0px;
}

#u6562-4
{
	z-index: 116;
	width: 289px;
	min-height: 40px;
	margin-right: -10000px;
	left: 392px;
}

body
{
	position: relative;
	min-width: 1022px;
}

#page .verticalspacer
{
	clear: both;
}

