.version.about_us /* version checker */
{
	color: #00000A;
	background-color: #B13617;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 1022px;
	min-height: 4458px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -71px;
	margin-bottom: -5px;
	width: 0.01px;
}

#pu892
{
	width: 0.01px;
	margin-left: -100px;
}

#u892
{
	z-index: 2;
	min-height: 143px;
	padding-bottom: 110px;
}

#u892_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	left: -100px;
}

#history
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u2514
{
	z-index: 213;
	width: 573px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 549px;
}

#u2558
{
	z-index: 214;
	width: 573px;
	margin-right: -10000px;
}

#menuu2515
{
	z-index: 215;
	width: 573px;
	margin-right: -10000px;
}

#u2523
{
	width: 174px;
	min-height: 56px;
	margin-right: -10000px;
}

#u2540
{
	width: 174px;
	padding-bottom: 8px;
}

#u2540:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2540.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2543
{
	height: 48px;
	width: 146px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2524
{
	width: 173px;
	top: 56px;
}

#u2529
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2532-4
{
	width: 69px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 48px;
}

#u2529:hover #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2534
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529.MuseMenuActive,#u2534:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2536-4
{
	width: 79px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 43px;
}

#u2534:hover #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u5250
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2534.MuseMenuActive,#u5250:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u5250:hover #u5252-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2516
{
	width: 177px;
	min-height: 56px;
	margin-right: -10000px;
	left: 194px;
}

#u2517
{
	width: 177px;
	padding-bottom: 8px;
}

#u2517:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2517.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2519
{
	height: 48px;
	width: 149px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2521
{
	width: 176px;
	top: 56px;
}

#u3840
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3842-4
{
	width: 58px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 55px;
}

#u3840:hover #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3849
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840.MuseMenuActive,#u3849:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-4
{
	width: 86px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u3849:hover #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3858
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3849.MuseMenuActive,#u3858:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3860-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u5250.MuseMenuActive #u5252-4,#u3858:hover #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3866
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3858.MuseMenuActive,#u3866:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3868-4
{
	width: 123px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 23px;
}

#u3866:hover #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 182px;
	min-height: 56px;
	margin-right: -10000px;
	left: 391px;
}

#u2566
{
	width: 182px;
	padding-bottom: 8px;
}

#u2566:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2566.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2569
{
	height: 48px;
	width: 155px;
	margin-right: -10000px;
	top: 4px;
	left: 13px;
}

#u2564
{
	width: 182px;
	top: 56px;
}

#u3762
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3764-4
{
	width: 137px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3762:hover #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u3776
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762.MuseMenuActive,#u3776:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3779-4
{
	width: 50px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 62px;
}

#u3776:hover #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3785
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3776.MuseMenuActive,#u3785:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3786-4
{
	width: 96px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 39px;
}

#u3785:hover #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3792
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3785.MuseMenuActive,#u3792:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	width: 140px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u3792:hover #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3799
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3792.MuseMenuActive,#u3799:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3800-4
{
	width: 94px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u3799:hover #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u892-bw
{
	z-index: 2;
	min-height: 143px;
	margin-top: 71px;
}

#u971-4
{
	z-index: 98;
	width: 950px;
	min-height: 55px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 100px;
}

#u966-4
{
	z-index: 102;
	width: 612px;
	min-height: 59px;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	font-size: 63px;
	line-height: 76px;
	color: #000000;
	text-align: center;
	font-family: unifrakturmaguntia, fantasy;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 269px;
}

#u1250
{
	z-index: 114;
	min-height: 63px;
	padding-bottom: 362px;
	background: transparent url("../images/swecqueiswheretheheartis.jpg") no-repeat center center;
	background-size: cover;
}

#u1509
{
	z-index: 132;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -37px;
	left: 781px;
}

#u1250-bw
{
	z-index: 114;
	min-height: 63px;
	margin-top: 385px;
}

#u5188
{
	z-index: 312;
	margin-right: -10000px;
	left: 100px;
}

#u3880
{
	z-index: 313;
	width: 1023px;
	top: 366px;
	left: 0px;
}

#u3881
{
	z-index: 314;
	width: 1023px;
	margin-right: -10000px;
	margin-top: 37px;
}

#menuu5359
{
	z-index: 321;
	width: 570px;
	margin-right: -10000px;
	left: 217px;
}

#u5395
{
	width: 173px;
	min-height: 64px;
	margin-right: -10000px;
}

#u5396
{
	width: 173px;
	padding-bottom: 16px;
}

#u5396:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5396.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5398
{
	height: 48px;
	width: 146px;
	margin-right: -10000px;
	top: 8px;
	left: 13px;
}

#u5400
{
	width: 173px;
	top: 64px;
}

#u5410
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5250.MuseMenuActive,#u5410:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5411-4
{
	width: 69px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 48px;
}

#u2529.MuseMenuActive #u2532-4,#u5410:hover #u5411-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5410.MuseMenuActive #u5411-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5419
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5410.MuseMenuActive,#u5419:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5420-4
{
	width: 79px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 43px;
}

#u2534.MuseMenuActive #u2536-4,#u5419:hover #u5420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u5419.MuseMenuActive #u5420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2525,#u2526,#u2533,#u5249,#u5401,#u5409,#u5416,#u5402
{
	width: 173px;
}

#u5405
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5419.MuseMenuActive,#u5405:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5405.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5406-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u3858.MuseMenuActive #u3860-4,#u5405:hover #u5406-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u5360
{
	width: 176px;
	min-height: 64px;
	margin-right: -10000px;
	left: 193px;
}

#u5361
{
	width: 176px;
	padding-bottom: 16px;
}

#u5361:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u5361.MuseMenuActive
{
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u5364
{
	height: 48px;
	width: 149px;
	margin-right: -10000px;
	top: 8px;
	left: 13px;
}

#u5365
{
	width: 176px;
	top: 64px;
}

#u5375
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3866.MuseMenuActive,#u5375:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5376-4
{
	width: 58px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 55px;
}

#u3840.MuseMenuActive #u3842-4,#u5375:hover #u5376-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u5375.MuseMenuActive #u5376-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u5389
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5375.MuseMenuActive,#u5389:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5392-4
{
	width: 86px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u3849.MuseMenuActive #u3851-4,#u5389:hover #u5392-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5389.MuseMenuActive #u5392-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5384
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5389.MuseMenuActive,#u5384:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5386-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u5405.MuseMenuActive #u5406-4,#u5384:hover #u5386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u5384.MuseMenuActive #u5386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2522,#u3839,#u3848,#u3855,#u3863,#u5366,#u5374,#u5388,#u5381,#u5367
{
	width: 176px;
}

#u5370
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5384.MuseMenuActive,#u5370:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5370.MuseMenuActive
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5372-4
{
	width: 123px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 23px;
}

#u3866.MuseMenuActive #u3868-4,#u5370:hover #u5372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u5370.MuseMenuActive #u5372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u5423
{
	width: 181px;
	min-height: 64px;
	margin-right: -10000px;
	left: 389px;
}

#u5461
{
	width: 181px;
	padding-bottom: 16px;
}

#u5461:hover
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u5461.MuseMenuActive
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u5464
{
	height: 48px;
	width: 155px;
	margin-right: -10000px;
	top: 8px;
	left: 13px;
}

#u5424
{
	width: 182px;
	top: 64px;
}

#u5427
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3799.MuseMenuActive,#u5427:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5429-4
{
	width: 137px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3762.MuseMenuActive #u3764-4,#u5427:hover #u5429-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u5427.MuseMenuActive #u5429-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u5443
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5427.MuseMenuActive,#u5443:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5445-4
{
	width: 50px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 62px;
}

#u3776.MuseMenuActive #u3779-4,#u5443:hover #u5445-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u5443.MuseMenuActive #u5445-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u5455
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5443.MuseMenuActive,#u5455:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5458-4
{
	width: 96px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 39px;
}

#u3785.MuseMenuActive #u3786-4,#u5455:hover #u5458-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u5455.MuseMenuActive #u5458-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u5448
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5455.MuseMenuActive,#u5448:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5450-4
{
	width: 140px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u3792.MuseMenuActive #u3794-4,#u5448:hover #u5450-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u5448.MuseMenuActive #u5450-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u2565,#u3761,#u3775,#u3782,#u3789,#u3796,#u5425,#u5426,#u5440,#u5454,#u5447,#u5433
{
	width: 182px;
}

#u5436
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5448.MuseMenuActive,#u5436:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5436.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5439-4
{
	width: 94px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u3799.MuseMenuActive #u3800-4,#u5436:hover #u5439-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u5436.MuseMenuActive #u5439-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u4057
{
	z-index: 316;
	height: 46px;
	width: 49px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 942px;
}

#u4051
{
	z-index: 319;
	height: 43px;
	width: 46px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 881px;
}

#u5471
{
	z-index: 418;
	margin-right: -10000px;
	left: 7px;
}

#u1268-4
{
	z-index: 106;
	width: 911px;
	min-height: 32px;
	background-color: transparent;
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 3px;
	position: relative;
}

#pu1259-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 17px;
}

#u1259-4
{
	z-index: 110;
	width: 910px;
	min-height: 115px;
	background-color: transparent;
	line-height: 24px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
}

#u3655-4
{
	z-index: 198;
	width: 168px;
	min-height: 30px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 371px;
}

#u3655-4 > *
{
	color: #1686DA;
}

#u4907
{
	z-index: 208;
	height: 46px;
	width: 60px;
	vertical-align: top;
	margin-left: 445px;
	margin-top: 16px;
	position: relative;
	background: url("../images/down95-u4907.png") no-repeat 0px 0px;
}

#u4907:hover
{
	background: url("../images/down95-u4907-r.png") no-repeat 0px 0px;
}

#pu1277
{
	width: 0.01px;
	margin-left: -125px;
}

#u1277
{
	z-index: 97;
	min-height: 1744.7999999999993px;
	background: #1EBEEA url("../images/u1277-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(38%, #177199),to(#1EBEEA));
	background: -webkit-linear-gradient(top,#177199 38%,#1EBEEA );
	background: linear-gradient(to bottom,#177199 38%,#1EBEEA );
	padding-bottom: 0px;
}

#u1277_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
	padding-top: 174px;
	padding-bottom: 119px;
}

#established
{
	position: relative;
}

#u1416
{
	z-index: 126;
	width: 600px;
	height: 550px;
	background-color: transparent;
	left: 275px;
	margin-top: 81px;
	position: relative;
}

#U3658_animation
{
	width: 600px;
	height: 550px;
	border: none;
}

#ss_logo
{
	margin-top: 216px;
	position: relative;
}

#the_team
{
	margin-top: 551px;
	position: relative;
}

#u1277-bw
{
	z-index: 97;
	min-height: 1744.7999999999993px;
}

#u3662
{
	z-index: 202;
	width: 1200px;
	height: 500px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1163px;
}

#U3672_animation
{
	width: 1200px;
	height: 500px;
	border: none;
}

#u1427-4
{
	z-index: 203;
	width: 660px;
	min-height: 77px;
	border-style: solid;
	line-height: 72px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1690px;
	left: 270px;
	border-width: 0px 0px 3px;
}

.Headerbox
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 3px;
}

#u4914
{
	z-index: 211;
	height: 46px;
	width: 60px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 823px;
	left: 570px;
	background: url("../images/down95-u4914.png") no-repeat 0px 0px;
}

#u4914:hover
{
	background: url("../images/down95-u4914-r.png") no-repeat 0px 0px;
}

#u1496-4
{
	z-index: 128;
	width: 910px;
	min-height: 114px;
	background-color: transparent;
	line-height: 24px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 20px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1587
{
	z-index: 133;
	height: 415px;
	background: transparent url("../images/swagpatrick-thimo.jpg") no-repeat center center;
	background-size: cover;
}

#u1587-bw
{
	z-index: 133;
	height: 415px;
}

#u2017
{
	z-index: 135;
	min-height: 668px;
	background-color: #000000;
	padding-bottom: 9px;
}

#u1250_align_to_page,#u2017_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
}

#u2019-36
{
	z-index: 161;
	width: 425px;
	min-height: 251px;
	background-color: transparent;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 3px;
	color: #EFEFEF;
	text-align: right;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 135px;
}

#u2016-25
{
	z-index: 136;
	width: 440px;
	min-height: 263px;
	background-color: transparent;
	color: #EFEFEF;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 1px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 590px;
}

#u1259-4 > *,#u1496-4 > *,#u2016-25 > *
{
	padding-top: 5px;
}

#u2017-bw
{
	z-index: 135;
	min-height: 668px;
	margin-top: 1px;
}

#pu1270-9
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 10px;
}

#u1270-9
{
	z-index: 115;
	width: 910px;
	min-height: 192px;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2040
{
	z-index: 197;
	width: 300px;
	min-height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 305px;
}

#pu2378
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -35px;
}

#u2378
{
	z-index: 3;
	min-height: 258.84999999999945px;
	padding-bottom: 0px;
}

#u2378_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	left: -100px;
	padding-top: 50px;
	padding-bottom: 7px;
}

#pu3822
{
	width: 0.01px;
	left: 121px;
	position: relative;
}

#u3822
{
	z-index: 8;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3811-4
{
	z-index: 25;
	width: 230px;
	min-height: 34px;
}

#u3803-4
{
	z-index: 9;
	width: 230px;
	min-height: 34px;
	margin-top: 4px;
}

#u3803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 230px;
	margin: 4px 0px 0px;
}

#u3805-4
{
	z-index: 13;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3805-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3809-4
{
	z-index: 17;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3810-4
{
	z-index: 21;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3823
{
	z-index: 29;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 250px;
}

#u3812-4
{
	z-index: 30;
	width: 230px;
	min-height: 34px;
}

#u3813-4
{
	z-index: 34;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3814-4
{
	z-index: 38;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3815-4
{
	z-index: 42;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3816-4
{
	z-index: 46;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3833
{
	z-index: 71;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 500px;
}

#u3817-4
{
	z-index: 72;
	width: 230px;
	min-height: 34px;
}

#u3818-4
{
	z-index: 76;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3819-4
{
	z-index: 80;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3820-4
{
	z-index: 84;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3830-4
{
	z-index: 88;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3832
{
	z-index: 50;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 750px;
}

#u3826-4
{
	z-index: 51;
	width: 230px;
	min-height: 34px;
}

#u3811-4:hover,#u3812-4:hover,#u3817-4:hover,#u3826-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 230px;
	margin: 0px;
}

#u3827-4
{
	z-index: 55;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3805-4.MuseLinkActive,#u3813-4:hover,#u3818-4:hover,#u3827-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3828-4
{
	z-index: 59;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3829-4
{
	z-index: 63;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3831-4
{
	z-index: 67;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3809-4:hover,#u3810-4:hover,#u3814-4:hover,#u3815-4:hover,#u3816-4:hover,#u3819-4:hover,#u3820-4:hover,#u3830-4:hover,#u3828-4:hover,#u3829-4:hover,#u3831-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 5px 0px 0px;
}

#pu2377-4
{
	width: 0.01px;
	left: 100px;
	margin-top: 21px;
	position: relative;
}

#u2377-4
{
	z-index: 4;
	width: 603px;
	min-height: 25px;
	margin-right: -10000px;
}

#u4016-4
{
	z-index: 92;
	width: 285px;
	min-height: 25px;
	margin-right: -10000px;
	left: 716px;
}

#u4016-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 285px;
	margin: 0px -10000px 0px 0px;
}

#u2378-bw
{
	z-index: 3;
	min-height: 258.84999999999945px;
	margin-top: 100px;
}

#u5191
{
	z-index: 96;
	margin-right: -10000px;
	left: 504px;
}

body
{
	position: relative;
	min-width: 1022px;
}

#page .verticalspacer
{
	clear: both;
}

