.version.index /* version checker */
{
	color: #00001A;
	background-color: #ACD173;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 1022px;
	min-height: 2648px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #EFEFEF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -71px;
	width: 0.01px;
}

#pu892
{
	width: 0.01px;
	margin-left: -100px;
}

#u892
{
	z-index: 2;
	height: 253px;
}

#u892-bw
{
	z-index: 2;
	margin-top: 71px;
	height: 253px;
}

#u2512
{
	z-index: 3;
	min-height: 1015.4000000000016px;
	padding-bottom: 1px;
	background: #C5C3C3 url("../images/haylandscape.jpg") no-repeat center center;
	background-size: cover;
}

#u2512_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
	padding-top: 87px;
	padding-bottom: 108px;
}

#u2514
{
	z-index: 323;
	width: 573px;
	left: 549px;
}

#u2558
{
	z-index: 324;
	width: 573px;
	margin-right: -10000px;
}

#menuu2515
{
	z-index: 325;
	width: 573px;
	margin-right: -10000px;
}

#u2523
{
	width: 174px;
	min-height: 56px;
	margin-right: -10000px;
}

#u2540
{
	width: 174px;
	padding-bottom: 8px;
}

#u2540:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2540.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2543
{
	height: 48px;
	width: 146px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2524
{
	width: 173px;
	top: 56px;
}

#u2529
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2532-4
{
	width: 69px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 48px;
}

#u2529:hover #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2529.MuseMenuActive #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2534
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529.MuseMenuActive,#u2534:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2536-4
{
	width: 79px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 43px;
}

#u2534:hover #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2534.MuseMenuActive #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2525,#u2526,#u2533,#u5249
{
	width: 173px;
}

#u5250
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2534.MuseMenuActive,#u5250:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5250.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u5250:hover #u5252-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2516
{
	width: 177px;
	min-height: 56px;
	margin-right: -10000px;
	left: 194px;
}

#u2517
{
	width: 177px;
	padding-bottom: 8px;
}

#u2517:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2517.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2519
{
	height: 48px;
	width: 149px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2521
{
	width: 176px;
	top: 56px;
}

#u3840
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3842-4
{
	width: 58px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 55px;
}

#u3840:hover #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3840.MuseMenuActive #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3849
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840.MuseMenuActive,#u3849:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-4
{
	width: 86px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u3849:hover #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3849.MuseMenuActive #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3858
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3849.MuseMenuActive,#u3858:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3860-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u5250.MuseMenuActive #u5252-4,#u3858:hover #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3858.MuseMenuActive #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2522,#u3839,#u3848,#u3855,#u3863
{
	width: 176px;
}

#u3866
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3858.MuseMenuActive,#u3866:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3866.MuseMenuActive
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3868-4
{
	width: 123px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 23px;
}

#u3866:hover #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u3866.MuseMenuActive #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 182px;
	min-height: 56px;
	margin-right: -10000px;
	left: 391px;
}

#u2566
{
	width: 182px;
	padding-bottom: 8px;
}

#u2566:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2566.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2569
{
	height: 48px;
	width: 155px;
	margin-right: -10000px;
	top: 4px;
	left: 13px;
}

#u2564
{
	width: 182px;
	top: 56px;
}

#u3762
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3764-4
{
	width: 137px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3762:hover #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u3762.MuseMenuActive #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u3776
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762.MuseMenuActive,#u3776:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3779-4
{
	width: 50px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 62px;
}

#u3776:hover #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3776.MuseMenuActive #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3785
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3776.MuseMenuActive,#u3785:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3786-4
{
	width: 96px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 39px;
}

#u3785:hover #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3785.MuseMenuActive #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3792
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3785.MuseMenuActive,#u3792:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	width: 140px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u3792:hover #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3792.MuseMenuActive #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u2565,#u3761,#u3775,#u3782,#u3789,#u3796
{
	width: 182px;
}

#u3799
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3792.MuseMenuActive,#u3799:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3799.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3800-4
{
	width: 94px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u3799:hover #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3799.MuseMenuActive #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#pu2402
{
	width: 0.01px;
	left: 298px;
	margin-top: 58px;
	position: relative;
}

#u2402
{
	z-index: 98;
	width: 627px;
	background-color: transparent;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	position: relative;
	margin-right: -10000px;
}

#u5163
{
	z-index: 237;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 674px;
}

#u5474
{
	z-index: 423;
	width: 50px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 999px;
	margin-top: 254px;
	position: relative;
}

#u3286
{
	z-index: 233;
	width: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 453px;
	margin-top: 31px;
	position: relative;
}

#u3278
{
	z-index: 234;
	width: 315px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3283
{
	z-index: 236;
	width: 307px;
	height: 98px;
	border-width: 4px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3283:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 16px rgba(22,134,218,0.6),0px 0px 16px rgba(22,134,218,0.6);
	width: 307px;
	height: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2512-bw
{
	z-index: 3;
	min-height: 1015.4000000000016px;
	margin-top: 71px;
}

#pamphletu2617
{
	z-index: 100;
	width: 0.01px;
	height: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 606px;
	left: 144px;
}

#u2618
{
	z-index: 101;
	width: 312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 347px;
}

#u2621
{
	position: absolute;
	width: 40px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
}

#u2621:hover
{
	background-color: #C5C3C3;
	width: 40px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#u2619
{
	position: absolute;
	width: 40px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	left: 40px;
}

#u2621.PamphletThumbSelected,#u2619:hover
{
	background-color: #C5C3C3;
	width: 40px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#u2620
{
	position: absolute;
	width: 40px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	left: 80px;
}

#u2619.PamphletThumbSelected,#u2620:hover
{
	background-color: #C5C3C3;
	width: 40px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#u2623
{
	position: absolute;
	width: 40px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	left: 120px;
}

#u2620.PamphletThumbSelected,#u2623:hover
{
	background-color: #C5C3C3;
	width: 40px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#u2622
{
	position: absolute;
	width: 40px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	left: 160px;
}

#u2623.PamphletThumbSelected,#u2622:hover
{
	background-color: #C5C3C3;
	width: 40px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#u2624
{
	position: absolute;
	width: 40px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	left: 200px;
}

#u2622.PamphletThumbSelected,#u2624:hover
{
	background-color: #C5C3C3;
	width: 40px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#u2624.PamphletThumbSelected
{
	background-color: #C5C3C3;
	width: 40px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#u5168
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: 13px;
	left: 230px;
}

.ie #u5168
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5168.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u5172
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: 13px;
	left: 263px;
}

.ie #u5168.PamphletThumbSelected,.ie #u5172
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5172.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u5176
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: 13px;
	left: 296px;
}

.ie #u5172.PamphletThumbSelected,.ie #u5176
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5176.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

.ie #u5176.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2625
{
	position: absolute;
	width: 932px;
	background-color: transparent;
}

#u2625popup
{
	z-index: 111;
}

#u2628
{
	z-index: 112;
	width: 932px;
	height: 85px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2629-4
{
	z-index: 113;
	width: 930px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u2630
{
	z-index: 117;
	width: 932px;
	height: 85px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2631-4
{
	z-index: 118;
	width: 930px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u2636
{
	z-index: 122;
	width: 932px;
	height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2637-4
{
	z-index: 123;
	width: 930px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u2632
{
	z-index: 127;
	width: 932px;
	height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2633-4
{
	z-index: 128;
	width: 930px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u2634
{
	z-index: 132;
	width: 932px;
	height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2635-4
{
	z-index: 133;
	width: 930px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u2626
{
	z-index: 137;
	width: 932px;
	height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2627-4
{
	z-index: 138;
	width: 930px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u5169
{
	z-index: 142;
	width: 932px;
	height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5171-4
{
	z-index: 143;
	width: 931px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u5173
{
	z-index: 147;
	width: 932px;
	height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5175-4
{
	z-index: 148;
	width: 926px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u5177
{
	z-index: 152;
	width: 932px;
	height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5181-4
{
	z-index: 153;
	width: 932px;
	min-height: 56px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u5188
{
	z-index: 422;
	margin-right: -10000px;
	left: 100px;
}

#pu5161
{
	width: 0.01px;
	margin-top: 10px;
}

#u5161
{
	z-index: 157;
	width: 1022px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#slideshowu3021
{
	z-index: 158;
	width: 0.01px;
	height: 453px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 223px;
}

#u3027
{
	position: absolute;
	width: 664px;
	height: 453px;
	background-color: transparent;
}

#u3027popup
{
	z-index: 159;
}

#u3042
{
	z-index: 160;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3042_img
{
	margin-left: -71px;
	margin-right: -70px;
}

#u3040
{
	z-index: 162;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3036
{
	z-index: 164;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3032
{
	z-index: 166;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3030
{
	z-index: 168;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3048
{
	z-index: 170;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3034
{
	z-index: 172;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3050
{
	z-index: 174;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3046
{
	z-index: 176;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3038
{
	z-index: 178;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3028
{
	z-index: 180;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3040_img,#u3036_img,#u3032_img,#u3030_img,#u3048_img,#u3034_img,#u3050_img,#u3046_img,#u3038_img,#u3028_img
{
	margin-left: -30px;
	margin-right: -31px;
}

#u3044
{
	z-index: 182;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3042_clip,#u3040_clip,#u3036_clip,#u3032_clip,#u3030_clip,#u3048_clip,#u3034_clip,#u3050_clip,#u3046_clip,#u3038_clip,#u3028_clip,#u3044_clip
{
	overflow: hidden;
	width: 664px;
	height: 453px;
}

#u3044_img
{
	margin-left: -6px;
	margin-right: -55px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu2797
{
	z-index: 184;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 61px;
}

#u2816
{
	position: absolute;
	width: 422px;
	height: 255px;
	background-color: transparent;
}

#u2816popup
{
	z-index: 185;
}

#u2817
{
	z-index: 186;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2817_img
{
	margin-left: -16px;
	margin-right: -15px;
}

#u2864
{
	z-index: 188;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2873
{
	z-index: 190;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2882
{
	z-index: 192;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2912
{
	z-index: 194;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2921
{
	z-index: 196;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2930
{
	z-index: 198;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2939
{
	z-index: 200;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2962
{
	z-index: 202;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2971
{
	z-index: 204;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2980
{
	z-index: 206;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2989
{
	z-index: 208;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2817_clip,#u2864_clip,#u2873_clip,#u2882_clip,#u2912_clip,#u2921_clip,#u2930_clip,#u2939_clip,#u2962_clip,#u2971_clip,#u2980_clip,#u2989_clip
{
	overflow: hidden;
	width: 422px;
	height: 255px;
}

#u2864_img,#u2873_img,#u2882_img,#u2912_img,#u2921_img,#u2930_img,#u2939_img,#u2962_img,#u2971_img,#u2980_img,#u2989_img
{
	margin-top: -4px;
	margin-bottom: -5px;
}

#u3195
{
	z-index: 210;
	width: 1022px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3235
{
	z-index: 212;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 408px;
	left: 759px;
}

#u3235_clip
{
	overflow: hidden;
	width: 320px;
	height: 239px;
}

#u3235_img
{
	margin-left: 16px;
	margin-right: -16px;
}

#u3210
{
	z-index: 218;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
}

#u5476-6
{
	z-index: 317;
	width: 928px;
	min-height: 135px;
	background-color: transparent;
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
	left: 47px;
}

#u3157-4
{
	z-index: 214;
	width: 251px;
	min-height: 42px;
	line-height: 43px;
	margin-left: 386px;
	margin-top: 14px;
	position: relative;
}

#u3157-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 251px;
	margin: 14px 0px 0px 386px;
}

.MainButton
{
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
}

#u3253
{
	z-index: 220;
	min-height: 517.7500000000002px;
	padding-bottom: 0px;
	background: #000000 url("../images/swecqueintro.jpg") no-repeat center center;
}

#u3253_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
}

#u3253_position_content
{
	margin-bottom: -21px;
	padding-top: 66px;
}

#u3260-4
{
	z-index: 221;
	width: 413px;
	min-height: 58px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 58px;
	left: 155px;
	position: relative;
}

#u3262-4
{
	z-index: 225;
	width: 251px;
	min-height: 42px;
	line-height: 43px;
	left: 236px;
	margin-top: 21px;
	position: relative;
}

#u3262-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 251px;
	margin: 21px 0px 0px;
}

#u3264-4
{
	z-index: 229;
	width: 660px;
	min-height: 59px;
	border-style: solid;
	line-height: 72px;
	left: 281px;
	margin-top: 218px;
	position: relative;
	border-width: 0px 0px 3px;
}

.Headerbox
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 3px;
}

#u3253-bw
{
	z-index: 220;
	min-height: 517.7500000000002px;
	margin-top: 30px;
}

#ppu5230
{
	width: 0.01px;
	margin-top: 47px;
}

#pu5230
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u5230
{
	z-index: 238;
	width: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5224
{
	z-index: 251;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#pu5220-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 144px;
}

#u5220-4
{
	z-index: 243;
	width: 357px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	position: relative;
}

#u5223-4
{
	z-index: 247;
	width: 357px;
	min-height: 77px;
	border-style: solid;
	border-color: #C5C3C3;
	background-color: transparent;
	line-height: 24px;
	padding-bottom: 0px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	border-width: 1px 0px;
}

#u5212-4
{
	z-index: 239;
	width: 357px;
	min-height: 29px;
	border-style: none;
	line-height: 29px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

.Button
{
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
}

#u5323
{
	z-index: 302;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 55px;
	position: relative;
}

#u5327
{
	z-index: 315;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu5326-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 143px;
}

#u5326-4
{
	z-index: 307;
	width: 357px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	position: relative;
}

#u5324-4
{
	z-index: 311;
	width: 357px;
	min-height: 77px;
	border-style: solid;
	border-color: #C5C3C3;
	background-color: transparent;
	line-height: 24px;
	padding-bottom: 0px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	border-width: 1px 0px;
}

#u5325-4
{
	z-index: 303;
	width: 357px;
	min-height: 29px;
	border-style: none;
	line-height: 29px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5212-4:hover,#u5325-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 357px;
	margin: 0px 0px -1px;
}

#u3157-4:hover p,#u3157-4:hover h2,#u3262-4:hover p,#u3262-4:hover h2,#u5212-4:hover p,#u5212-4:hover h3,#u5325-4:hover p,#u5325-4:hover h3
{
	color: #29ABE2;
	visibility: inherit;
}

#u5322
{
	z-index: 253;
	width: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 521px;
}

#u5276
{
	z-index: 254;
	width: 470px;
	-pie-box-shadow: -3px 6px 7px #AFAFAF;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.31);
	background-color: #177199;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	padding: 8px 21px 80px 10px;
}

#pu5263
{
	width: 0.01px;
}

#u5263
{
	z-index: 259;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u5260-4
{
	z-index: 255;
	width: 357px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#pu5282
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 45px;
}

#u5282
{
	z-index: 269;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u5279-4
{
	z-index: 265;
	width: 357px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	left: 83px;
}

#pu5300
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 16px;
}

#u5300
{
	z-index: 283;
	width: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u5291
{
	z-index: 284;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u5299-4
{
	z-index: 286;
	width: 17px;
	min-height: 39px;
	background-color: transparent;
	color: #177199;
	font-size: 36px;
	line-height: 43px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 25px;
}

#u5290-4
{
	z-index: 275;
	width: 357px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#pu5302
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 12px;
}

#u5302
{
	z-index: 294;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u5301-4
{
	z-index: 290;
	width: 357px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u3262-2,#u5279-2,#u5290-2,#u5301-2
{
	color: #FFFFFF;
}

#u5278-4
{
	z-index: 261;
	width: 357px;
	min-height: 57px;
	border-style: solid;
	border-color: #C5C3C3;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	padding-bottom: 0px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 123px;
	border-width: 1px 0px;
}

#u5223-4 > *,#u5324-4 > *,#u5278-4 > *
{
	padding-bottom: 5px;
	padding-top: 10px;
}

#u5289-4
{
	z-index: 271;
	width: 357px;
	min-height: 29px;
	border-style: solid;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 123px;
	border-width: 0px 0px 1px;
}

#u5289-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 357px;
	margin: 186px -10000px 0px 0px;
}

#u5293-4
{
	z-index: 279;
	width: 357px;
	min-height: 29px;
	border-style: none;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 123px;
}

#u5293-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 357px;
	margin: 268px -10000px 0px 0px;
}

#u5289-4:hover p,#u5289-4:hover h3,#u5293-4:hover p,#u5293-4:hover h3
{
	color: #EFEFEF;
	visibility: inherit;
}

#u5289-2,#u5293-2
{
	color: #29ABE2;
}

#u5310
{
	z-index: 297;
	height: 43px;
	width: 43px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 179px;
	background: url("../images/u5310.png") no-repeat 0px 0px;
}

#u5310:hover
{
	background: url("../images/u5310-r.png") no-repeat 0px 0px;
}

#u5316
{
	z-index: 300;
	height: 41px;
	width: 41px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 366px;
	left: 129px;
	background: url("../images/u5316.png") no-repeat 0px 0px;
}

#u5316:hover
{
	background: url("../images/u5316-r.png") no-repeat 0px 0px;
}

#pu2378
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -35px;
}

#u2378
{
	z-index: 4;
	min-height: 258.8499999999999px;
	padding-bottom: 0px;
}

#u2378_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	left: -100px;
	padding-top: 50px;
	padding-bottom: 7px;
}

#pu3822
{
	width: 0.01px;
	left: 121px;
	position: relative;
}

#u3822
{
	z-index: 9;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3811-4
{
	z-index: 26;
	width: 230px;
	min-height: 34px;
}

#u3803-4
{
	z-index: 10;
	width: 230px;
	min-height: 34px;
	margin-top: 4px;
}

#u3803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 230px;
	margin: 4px 0px 0px;
}

#u3805-4
{
	z-index: 14;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3805-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3809-4
{
	z-index: 18;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3810-4
{
	z-index: 22;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3823
{
	z-index: 30;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 250px;
}

#u3812-4
{
	z-index: 31;
	width: 230px;
	min-height: 34px;
}

#u3813-4
{
	z-index: 35;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3814-4
{
	z-index: 39;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3815-4
{
	z-index: 43;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3816-4
{
	z-index: 47;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3833
{
	z-index: 72;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 500px;
}

#u3817-4
{
	z-index: 73;
	width: 230px;
	min-height: 34px;
}

#u3818-4
{
	z-index: 77;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3819-4
{
	z-index: 81;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3820-4
{
	z-index: 85;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3830-4
{
	z-index: 89;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3832
{
	z-index: 51;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 750px;
}

#u3826-4
{
	z-index: 52;
	width: 230px;
	min-height: 34px;
}

#u3811-4:hover,#u3812-4:hover,#u3817-4:hover,#u3826-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 230px;
	margin: 0px;
}

#u3827-4
{
	z-index: 56;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3805-4.MuseLinkActive,#u3813-4:hover,#u3818-4:hover,#u3827-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3828-4
{
	z-index: 60;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3829-4
{
	z-index: 64;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3831-4
{
	z-index: 68;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3809-4:hover,#u3810-4:hover,#u3814-4:hover,#u3815-4:hover,#u3816-4:hover,#u3819-4:hover,#u3820-4:hover,#u3830-4:hover,#u3828-4:hover,#u3829-4:hover,#u3831-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 5px 0px 0px;
}

#pu2377-4
{
	width: 0.01px;
	left: 100px;
	margin-top: 21px;
	position: relative;
}

#u2377-4
{
	z-index: 5;
	width: 603px;
	min-height: 25px;
	margin-right: -10000px;
}

#u4016-4
{
	z-index: 93;
	width: 285px;
	min-height: 25px;
	margin-right: -10000px;
	left: 716px;
}

#u4016-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 285px;
	margin: 0px -10000px 0px 0px;
}

#u2378-bw
{
	z-index: 4;
	min-height: 258.8499999999999px;
	margin-top: 100px;
}

#u5191
{
	z-index: 97;
	margin-right: -10000px;
	left: 504px;
}

body
{
	position: relative;
	min-width: 1022px;
}

#page .verticalspacer
{
	clear: both;
}

