.version.index /* version checker */
{
	color: #0000FF;
	background-color: #388CCA;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 1022px;
	min-height: 2675px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #EFEFEF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -71px;
	width: 0.01px;
}

#pu892
{
	width: 0.01px;
	margin-left: -100px;
}

#u892
{
	z-index: 2;
	height: 253px;
}

#u892-bw
{
	z-index: 2;
	margin-top: 71px;
	height: 253px;
}

#u6168
{
	z-index: 3;
	min-height: 822px;
	background: transparent url("../images/haylandscape.jpg") no-repeat center center;
	background-size: cover;
}

#u6168_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
	padding-top: 45px;
	padding-bottom: 82px;
}

#u5806
{
	z-index: 403;
	width: 50px;
	min-height: 25px;
	left: 1022px;
}

#u2514
{
	z-index: 307;
	width: 573px;
	left: 549px;
	margin-top: 17px;
}

#u2558
{
	z-index: 308;
	width: 573px;
	margin-right: -10000px;
}

#menuu2515
{
	z-index: 309;
	width: 573px;
	margin-right: -10000px;
}

#u2523
{
	width: 174px;
	min-height: 56px;
	margin-right: -10000px;
}

#u2540
{
	width: 174px;
	padding-bottom: 8px;
}

#u2540:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2540.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2543
{
	height: 48px;
	width: 146px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2524
{
	width: 173px;
	top: 56px;
}

#u2529
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2532-4
{
	width: 69px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 48px;
}

#u2529:hover #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2529.MuseMenuActive #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2534
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529.MuseMenuActive,#u2534:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2536-4
{
	width: 79px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 43px;
}

#u2534:hover #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2534.MuseMenuActive #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2525,#u2526,#u2533,#u5249
{
	width: 173px;
}

#u5250
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2534.MuseMenuActive,#u5250:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5250.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u5250:hover #u5252-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2516
{
	width: 177px;
	min-height: 56px;
	margin-right: -10000px;
	left: 194px;
}

#u2517
{
	width: 177px;
	padding-bottom: 8px;
}

#u2517:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2517.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2519
{
	height: 48px;
	width: 149px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2521
{
	width: 176px;
	top: 56px;
}

#u3840
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3842-4
{
	width: 58px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 55px;
}

#u3840:hover #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3840.MuseMenuActive #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3849
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840.MuseMenuActive,#u3849:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-4
{
	width: 86px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u3849:hover #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3849.MuseMenuActive #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3858
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3849.MuseMenuActive,#u3858:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3860-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u5250.MuseMenuActive #u5252-4,#u3858:hover #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3858.MuseMenuActive #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2522,#u3839,#u3848,#u3855,#u3863
{
	width: 176px;
}

#u3866
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3858.MuseMenuActive,#u3866:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3866.MuseMenuActive
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3868-4
{
	width: 123px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 23px;
}

#u3866:hover #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u3866.MuseMenuActive #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 182px;
	min-height: 56px;
	margin-right: -10000px;
	left: 391px;
}

#u2566
{
	width: 182px;
	padding-bottom: 8px;
}

#u2566:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2566.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2569
{
	height: 48px;
	width: 155px;
	margin-right: -10000px;
	top: 4px;
	left: 13px;
}

#u2564
{
	width: 182px;
	top: 56px;
}

#u3762
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3764-4
{
	width: 137px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3762:hover #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u3762.MuseMenuActive #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u3776
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762.MuseMenuActive,#u3776:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3779-4
{
	width: 50px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 62px;
}

#u3776:hover #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3776.MuseMenuActive #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3785
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3776.MuseMenuActive,#u3785:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3786-4
{
	width: 96px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 39px;
}

#u3785:hover #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3785.MuseMenuActive #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3792
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3785.MuseMenuActive,#u3792:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	width: 140px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u3792:hover #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3792.MuseMenuActive #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u2565,#u3761,#u3775,#u3782,#u3789,#u3796
{
	width: 182px;
}

#u3799
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3792.MuseMenuActive,#u3799:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3799.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3800-4
{
	width: 94px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u3799:hover #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3799.MuseMenuActive #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u6320
{
	z-index: 199;
	width: 660px;
	height: 400px;
	background-color: transparent;
	left: 281px;
	margin-top: 61px;
	position: relative;
}

#U6816_animation
{
	width: 660px;
	height: 400px;
	border: none;
}

#screenshots
{
	left: 4px;
	margin-top: 118px;
	position: relative;
}

#u6168-bw
{
	z-index: 3;
	min-height: 822px;
	margin-top: 71px;
}

#u5161
{
	z-index: 132;
	width: 1022px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 793px;
	left: 100px;
}

#slideshowu3021
{
	z-index: 133;
	width: 0.01px;
	height: 453px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 223px;
}

#u3027
{
	position: absolute;
	width: 664px;
	height: 453px;
	background-color: transparent;
}

#u3027popup
{
	z-index: 134;
}

#u3042
{
	z-index: 135;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3042_img
{
	margin-left: -71px;
	margin-right: -70px;
}

#u3040
{
	z-index: 137;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3036
{
	z-index: 139;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3032
{
	z-index: 141;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3030
{
	z-index: 143;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3048
{
	z-index: 145;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3034
{
	z-index: 147;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3050
{
	z-index: 149;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3046
{
	z-index: 151;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3038
{
	z-index: 153;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3028
{
	z-index: 155;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3040_img,#u3036_img,#u3032_img,#u3030_img,#u3048_img,#u3034_img,#u3050_img,#u3046_img,#u3038_img,#u3028_img
{
	margin-left: -30px;
	margin-right: -31px;
}

#u3044
{
	z-index: 157;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3042_clip,#u3040_clip,#u3036_clip,#u3032_clip,#u3030_clip,#u3048_clip,#u3034_clip,#u3050_clip,#u3046_clip,#u3038_clip,#u3028_clip,#u3044_clip
{
	overflow: hidden;
	width: 664px;
	height: 453px;
}

#u3044_img
{
	margin-left: -6px;
	margin-right: -55px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu2797
{
	z-index: 159;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 61px;
}

#u2816
{
	position: absolute;
	width: 422px;
	height: 255px;
	background-color: transparent;
}

#u2816popup
{
	z-index: 160;
}

#u2817
{
	z-index: 161;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2817_img
{
	margin-left: -16px;
	margin-right: -15px;
}

#u2864
{
	z-index: 163;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2873
{
	z-index: 165;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2882
{
	z-index: 167;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2912
{
	z-index: 169;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2921
{
	z-index: 171;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2930
{
	z-index: 173;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2939
{
	z-index: 175;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2962
{
	z-index: 177;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2971
{
	z-index: 179;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2980
{
	z-index: 181;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2989
{
	z-index: 183;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2817_clip,#u2864_clip,#u2873_clip,#u2882_clip,#u2912_clip,#u2921_clip,#u2930_clip,#u2939_clip,#u2962_clip,#u2971_clip,#u2980_clip,#u2989_clip
{
	overflow: hidden;
	width: 422px;
	height: 255px;
}

#u2864_img,#u2873_img,#u2882_img,#u2912_img,#u2921_img,#u2930_img,#u2939_img,#u2962_img,#u2971_img,#u2980_img,#u2989_img
{
	margin-top: -4px;
	margin-bottom: -5px;
}

#u3195
{
	z-index: 185;
	width: 1022px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5188
{
	z-index: 306;
	width: 428px;
	margin-right: -10000px;
	left: 100px;
}

#u6525-6
{
	z-index: 287;
	width: 1022px;
	min-height: 132px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	margin-top: 1px;
	position: relative;
}

#pu3235
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -7px;
}

#u3235
{
	z-index: 187;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 682px;
}

#u3235_clip
{
	overflow: hidden;
	width: 320px;
	height: 239px;
}

#u3235_img
{
	margin-left: 16px;
	margin-right: -16px;
}

#u3157-4
{
	z-index: 189;
	width: 251px;
	min-height: 42px;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 365px;
}

#u3157-4:hover
{
	background-color: #E5E3E3;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 251px;
	margin: 124px -10000px 0px 0px;
}

.MainButton
{
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
}

#u3210
{
	z-index: 193;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 11px;
}

#u3286
{
	z-index: 195;
	width: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 333px;
}

#u3278
{
	z-index: 196;
	width: 315px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3283
{
	z-index: 198;
	width: 307px;
	height: 98px;
	border-width: 4px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3283:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 16px rgba(43,160,171,0.6),0px 0px 16px rgba(43,160,171,0.6);
	width: 307px;
	height: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6524-7
{
	z-index: 280;
	width: 980px;
	min-height: 118px;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
}

#u6524-7 > *
{
	padding-top: 5px;
}

#pu6666
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 104px;
}

#u6666
{
	z-index: 5;
	height: 372px;
	border-style: solid;
	border-color: #C5C3C3;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u6666-bw
{
	z-index: 5;
	margin-top: 57px;
	height: 372px;
}

#pamphletu6333
{
	z-index: 200;
	width: 0.01px;
	height: 261px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 100px;
}

#u6334
{
	position: absolute;
	width: 633px;
	top: 27px;
}

#u6334popup
{
	z-index: 201;
}

#u6335
{
	z-index: 202;
	width: 633px;
	height: 139px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

.Reviewbox
{
	-pie-box-shadow: -2px 3px 7px #BABABA;
	box-shadow: -2px 3px 7px rgba(0,0,0,0.27);
	border-style: solid;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 20px 0px 20px 20px ;
	border-width: 0px 0px 1px;
}

#u6372
{
	z-index: 208;
	width: 108px;
	height: 108px;
	border-radius: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
	background: transparent url("../images/phreview.png") no-repeat left top;
	background-size: cover;
}

#ppu6674-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 137px;
}

#u6674-4
{
	z-index: 211;
	width: 229px;
	min-height: 45px;
	background-color: transparent;
	color: #333333;
	font-size: 30px;
	line-height: 36px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u6422
{
	z-index: 209;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 312px;
}

#u6336-5
{
	z-index: 203;
	width: 479px;
	min-height: 54px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
}

#u6686
{
	z-index: 215;
	width: 633px;
	height: 224px;
	border-style: none;
	margin-bottom: -58px;
	position: relative;
	margin-right: -10000px;
	margin-top: -27px;
}

#u6713
{
	z-index: 221;
	width: 108px;
	height: 108px;
	border-radius: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
	background: transparent url("../images/borareview.jpg") no-repeat left top;
	background-size: cover;
}

#ppu6716-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 137px;
}

#u6716-4
{
	z-index: 224;
	width: 229px;
	min-height: 45px;
	background-color: transparent;
	color: #333333;
	font-size: 30px;
	line-height: 36px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u6714
{
	z-index: 222;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 312px;
}

#u6712-5
{
	z-index: 216;
	width: 479px;
	min-height: 54px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-top: 8px;
	position: relative;
}

#u6712
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u6718
{
	z-index: 228;
	width: 633px;
	height: 139px;
	border-style: none;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u6727
{
	z-index: 233;
	width: 108px;
	height: 108px;
	border-radius: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 14px;
	background: transparent url("../images/woutrszreview.jpg") no-repeat left top;
	background-size: cover;
}

#u6730-4
{
	z-index: 236;
	width: 229px;
	min-height: 45px;
	background-color: transparent;
	color: #333333;
	font-size: 30px;
	line-height: 36px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u6728
{
	z-index: 234;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 312px;
}

#u6726-4
{
	z-index: 229;
	width: 479px;
	min-height: 54px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
}

#u6732
{
	z-index: 240;
	width: 633px;
	height: 139px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
}

#u6335::before,#u6686::before,#u6718::before,#u6732::before
{
	box-shadow: none;
}

#u6747
{
	z-index: 246;
	width: 108px;
	height: 108px;
	border-radius: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 14px;
	background: transparent url("../images/janmullerreview-ieu7061-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/janmullerreview.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#ppu6730-4,#ppu6748
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 137px;
}

#pu6674-4,#pu6716-4,#pu6730-4,#pu6748
{
	width: 0.01px;
}

#u6748
{
	z-index: 247;
	width: 167px;
	background-color: transparent;
	opacity: 0.33;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
	filter: alpha(opacity=33);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 312px;
}

#u6750-4
{
	z-index: 249;
	width: 229px;
	min-height: 45px;
	background-color: transparent;
	color: #333333;
	font-size: 30px;
	line-height: 36px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u6956
{
	z-index: 253;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 312px;
}

#u6746-5
{
	z-index: 241;
	width: 479px;
	min-height: 54px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
}

#u6336-2,#u6746-2
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
}

#u6350
{
	z-index: 255;
	width: 94px;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	left: 212px;
}

#u6351
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 10px;
}

#u6351:hover
{
	background-color: #3AD0CF;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u6693
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 10px;
	left: 26px;
}

#u6693:hover
{
	background-color: #3AD0CF;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u6725
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 10px;
	left: 52px;
}

#u6725:hover
{
	background-color: #3AD0CF;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u6739
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 10px;
	left: 78px;
}

#u6739:hover
{
	background-color: #3AD0CF;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u6351.PamphletThumbSelected,#u6693.PamphletThumbSelected,#u6725.PamphletThumbSelected,#u6739.PamphletThumbSelected
{
	background-color: #2BA0AB;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u6429-4
{
	z-index: 260;
	width: 608px;
	min-height: 87px;
	border-style: solid;
	color: #333333;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	left: 306px;
	border-width: 0px 0px 3px;
}

.Headerbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 3px;
}

#u6456
{
	z-index: 264;
	width: 314px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 808px;
}

#u6450
{
	z-index: 265;
	width: 314px;
	background-color: transparent;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	position: relative;
	margin-right: -10000px;
}

#u5919
{
	z-index: 267;
	width: 192px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 63px;
}

#u5914-5
{
	z-index: 268;
	width: 192px;
	min-height: 126px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 100px;
	text-align: center;
	line-height: 120px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u5914-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5914
{
	font-size: 112px;
	color: #3AD0CF;
	line-height: 134px;
}

#u5914-2
{
	font-size: 36px;
	line-height: 43px;
}

#u6428-4
{
	z-index: 273;
	width: 164px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 82px;
}

#u6442
{
	z-index: 277;
	width: 216px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 45px;
}

#u6433
{
	z-index: 278;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u6529-4
{
	z-index: 293;
	width: 115px;
	min-height: 46px;
	background-color: transparent;
	color: #2BA0AB;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 437px;
}

#u6529-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 115px;
	margin: 348px -10000px 0px 0px;
}

#u6591
{
	z-index: 4;
	min-height: 538px;
	background: #000000 url("../images/swagpatrick-thimo.jpg") no-repeat center center;
}

#u6591_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 226px;
}

#u6596-4
{
	z-index: 297;
	width: 398px;
	min-height: 200px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #A7A7A7;
	background-color: rgba(51,51,51,0.43);
	color: #FFFFFF;
	text-align: left;
	line-height: 72px;
	left: 120px;
	position: relative;
	border-width: 3px 0px 1px;
	-pie-background: rgba(51,51,51,0.43);
}

#u6596-2
{
	padding-top: 17px;
}

#u6597-4
{
	z-index: 301;
	width: 398px;
	min-height: 40px;
	border-style: none;
	background-color: #B9B9B9;
	background-color: rgba(51,51,51,0.34);
	line-height: 43px;
	left: 120px;
	margin-top: 19px;
	position: relative;
	-pie-background: rgba(51,51,51,0.34);
}

#u6597-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 398px;
	margin: 19px 0px 0px;
}

.Button
{
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
}

#u3157-4:hover p,#u3157-4:hover h2,#u6529-4:hover p,#u6529-4:hover h3,#u6597-4:hover p,#u6597-4:hover h2
{
	color: #3AD0CF;
	visibility: inherit;
}

#u6597-2
{
	text-align: left;
	color: #FFFFFF;
}

#u6591-bw
{
	z-index: 4;
	min-height: 538px;
}

#pu2378
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -24px;
}

#u2378
{
	z-index: 6;
	min-height: 286.9500000000007px;
	padding-bottom: 0px;
}

#u2378_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	left: -100px;
}

#u2378_position_content
{
	margin-top: -86px;
	padding-bottom: 17px;
}

#pu5191
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u5191
{
	z-index: 14;
	width: 243px;
	margin-right: -10000px;
}

#pu6560
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 55px;
	margin-left: 271px;
}

#u6560
{
	z-index: 7;
	width: 739px;
	padding-bottom: 5px;
}

#u6561-4
{
	z-index: 107;
	width: 173px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 72px;
}

#u6889
{
	z-index: 119;
	width: 259px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 418px;
}

#u6861
{
	z-index: 121;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
}

#u6871
{
	z-index: 127;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 73px;
}

#u6883
{
	z-index: 130;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 146px;
}

#u6866
{
	z-index: 124;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 211px;
}

#pu3823
{
	width: 0.01px;
	margin-top: 14px;
}

#u3823
{
	z-index: 32;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3812-4
{
	z-index: 33;
	width: 230px;
	min-height: 34px;
}

#u3813-4
{
	z-index: 37;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3814-4
{
	z-index: 41;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3815-4
{
	z-index: 45;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3816-4
{
	z-index: 49;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3833
{
	z-index: 74;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 250px;
}

#u3817-4
{
	z-index: 75;
	width: 230px;
	min-height: 34px;
}

#u3818-4
{
	z-index: 79;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3819-4
{
	z-index: 83;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3820-4
{
	z-index: 87;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3830-4
{
	z-index: 91;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3832
{
	z-index: 53;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 500px;
}

#u3826-4
{
	z-index: 54;
	width: 230px;
	min-height: 34px;
}

#u3831-4
{
	z-index: 70;
	width: 111px;
	min-height: 20px;
	margin-top: 9px;
}

#u3831-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 111px;
	margin: 9px 0px 0px;
}

#u3827-4
{
	z-index: 58;
	width: 111px;
	min-height: 20px;
	margin-top: 5px;
}

#u3828-4
{
	z-index: 62;
	width: 111px;
	min-height: 20px;
	margin-top: 5px;
}

#u3829-4
{
	z-index: 66;
	width: 111px;
	min-height: 20px;
	margin-top: 5px;
}

#u3827-4:hover,#u3828-4:hover,#u3829-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 111px;
	margin: 5px 0px 0px;
}

#pu2377-6
{
	width: 0.01px;
	left: 121px;
	margin-top: 27px;
	position: relative;
}

#u2377-6
{
	z-index: 8;
	width: 344px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u6656
{
	z-index: 115;
	width: 192px;
	margin-right: -10000px;
	left: 409px;
}

#u6655
{
	z-index: 116;
	width: 192px;
	margin-right: -10000px;
}

#u6543
{
	z-index: 117;
	width: 67px;
	margin-bottom: -8px;
	margin-right: -10000px;
	margin-top: -5px;
	left: -31px;
}

#u4016-4
{
	z-index: 95;
	width: 285px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 695px;
}

#u4016-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 285px;
	margin: 32px -10000px 0px 0px;
}

#u2378-bw
{
	z-index: 6;
	min-height: 286.9500000000007px;
	margin-top: 19px;
}

#u3822
{
	z-index: 15;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 121px;
}

#u3803-4
{
	z-index: 16;
	width: 230px;
	min-height: 34px;
}

#u3805-4
{
	z-index: 20;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3813-4:hover,#u3818-4:hover,#u3805-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3805-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3809-4
{
	z-index: 24;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3810-4
{
	z-index: 28;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3814-4:hover,#u3815-4:hover,#u3816-4:hover,#u3819-4:hover,#u3820-4:hover,#u3830-4:hover,#u3809-4:hover,#u3810-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 5px 0px 0px;
}

#u6534-4
{
	z-index: 99;
	width: 111px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 138px;
	left: 990px;
}

#u6534-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 111px;
	margin: 138px -10000px 0px 0px;
}

#u6537-4
{
	z-index: 103;
	width: 111px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 113px;
	left: 990px;
}

#u6537-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 111px;
	margin: 113px -10000px 0px 0px;
}

#u6562-4
{
	z-index: 111;
	width: 289px;
	min-height: 40px;
	margin-right: -10000px;
	left: 392px;
}

body
{
	position: relative;
	min-width: 1022px;
}

#page .verticalspacer
{
	clear: both;
}

#u3814-4:hover p,#u3814-4:hover h5,#u3815-4:hover p,#u3815-4:hover h5,#u3816-4:hover p,#u3816-4:hover h5,#u3818-4:hover p,#u3818-4:hover h5,#u3819-4:hover p,#u3819-4:hover h5,#u3820-4:hover p,#u3820-4:hover h5,#u3830-4:hover p,#u3830-4:hover h5,#u3831-4:hover p,#u3831-4:hover h5,#u3827-4:hover p,#u3827-4:hover h5,#u3828-4:hover p,#u3828-4:hover h5,#u3829-4:hover p,#u3829-4:hover h5,#u3805-4:hover p,#u3805-4:hover h5,#u3809-4:hover p,#u3809-4:hover h5,#u3810-4:hover p,#u3810-4:hover h5,#u6534-4:hover p,#u6534-4:hover h5,#u6537-4:hover p,#u6537-4:hover h5,#u3813-4:hover p,#u3813-4:hover h5
{
	padding: 0px;
}

