.version.index /* version checker */
{
	color: #000002;
	background-color: #324F3F;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 2648px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu892
{
	width: 0.01px;
	margin-left: -210px;
}

#u892,#u892-bw
{
	z-index: 2;
	height: 253px;
}

#u2512
{
	z-index: 3;
	min-height: 784px;
	background: transparent url("../images/haylandscape.jpg") no-repeat center center;
	background-size: cover;
}

#u2512_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	position: relative;
	left: -100px;
	padding-top: 87px;
	padding-bottom: 283px;
}

#u2514
{
	z-index: 219;
	width: 573px;
	left: 477px;
}

#u2558
{
	z-index: 220;
	width: 573px;
	margin-right: -10000px;
}

#menuu2515
{
	z-index: 221;
	width: 573px;
	margin-right: -10000px;
}

#u3675
{
	width: 99px;
	min-height: 56px;
	margin-right: -10000px;
}

#u3692
{
	width: 99px;
	padding-bottom: 20px;
}

#u3692:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u3692.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u3693-4
{
	width: 60px;
	min-height: 36px;
	margin-right: -10000px;
	top: 10px;
	left: 19px;
}

#u3692:hover #u3693-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3692.MuseMenuActive #u3693-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u2523
{
	width: 129px;
	min-height: 56px;
	margin-right: -10000px;
	left: 124px;
}

#u2540
{
	width: 129px;
	padding-bottom: 20px;
}

#u2540:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2540.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2543-4
{
	width: 90px;
	min-height: 36px;
	margin-right: -10000px;
	top: 10px;
	left: 19px;
}

#u2540:hover #u2543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u2540.MuseMenuActive #u2543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u2524
{
	width: 129px;
	top: 56px;
}

#u2529
{
	width: 129px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2532-4
{
	width: 64px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u2529:hover #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u2529.MuseMenuActive #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u2525,#u2526,#u2533
{
	width: 129px;
}

#u2534
{
	width: 129px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529.MuseMenuActive,#u2534:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2534.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2536-4
{
	width: 74px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 24px;
}

#u2534:hover #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u2534.MuseMenuActive #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u2516
{
	width: 132px;
	min-height: 56px;
	margin-right: -10000px;
	left: 278px;
}

#u2517
{
	width: 132px;
	padding-bottom: 20px;
}

#u2517:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u2517.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u2519-4
{
	width: 93px;
	min-height: 36px;
	margin-right: -10000px;
	top: 10px;
	left: 19px;
}

#u2517:hover #u2519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u2517.MuseMenuActive #u2519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u2521
{
	width: 132px;
	top: 56px;
}

#u3840
{
	width: 132px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3842-4
{
	width: 53px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u3840:hover #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3840.MuseMenuActive #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3849
{
	width: 132px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840.MuseMenuActive,#u3849:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-4
{
	width: 81px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u3849:hover #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u3849.MuseMenuActive #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u3858
{
	width: 132px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3849.MuseMenuActive,#u3858:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3860-4
{
	width: 108px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 8px;
}

#u3858:hover #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u2522,#u3839,#u3848,#u3855,#u3863
{
	width: 132px;
}

#u3866
{
	width: 132px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3858.MuseMenuActive,#u3866:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3866.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3868-4
{
	width: 118px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 3px;
}

#u3866:hover #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u3866.MuseMenuActive #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 138px;
	min-height: 56px;
	margin-right: -10000px;
	left: 435px;
}

#u2566
{
	width: 138px;
	padding-bottom: 20px;
}

#u2566:hover
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u2566.MuseMenuActive
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u2569-4
{
	width: 100px;
	min-height: 36px;
	margin-right: -10000px;
	top: 10px;
	left: 19px;
}

#u2566:hover #u2569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u2566.MuseMenuActive #u2569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u2564
{
	width: 154px;
	left: -16px;
	top: 56px;
}

#u3762
{
	width: 154px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3764-4
{
	width: 132px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 7px;
}

#u3762:hover #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u3762.MuseMenuActive #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u3769
{
	width: 154px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762.MuseMenuActive,#u3769:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3771-4
{
	width: 108px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3858.MuseMenuActive #u3860-4,#u3769:hover #u3771-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u3769.MuseMenuActive #u3771-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u3776
{
	width: 154px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3769.MuseMenuActive,#u3776:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3779-4
{
	width: 45px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 51px;
}

#u3776:hover #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u3776.MuseMenuActive #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u3785
{
	width: 154px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3776.MuseMenuActive,#u3785:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3786-4
{
	width: 91px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u3785:hover #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u3785.MuseMenuActive #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u3792
{
	width: 154px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3785.MuseMenuActive,#u3792:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	width: 135px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 6px;
}

#u3792:hover #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u3792.MuseMenuActive #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2565,#u3761,#u3768,#u3775,#u3782,#u3789,#u3796
{
	width: 154px;
}

#u3799
{
	width: 154px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3792.MuseMenuActive,#u3799:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3799.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3800-4
{
	width: 89px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u3799:hover #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3799.MuseMenuActive #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u2402
{
	z-index: 100;
	width: 627px;
	background-color: transparent;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	left: 261px;
	margin-top: 79px;
	position: relative;
}

#u2512-bw
{
	z-index: 3;
	min-height: 784px;
}

#slideshowu3021
{
	z-index: 102;
	width: 0.01px;
	height: 453px;
	position: relative;
	margin-right: -10000px;
	margin-top: 716px;
	left: 398px;
}

#u3027
{
	position: absolute;
	width: 664px;
	height: 453px;
	background-color: transparent;
}

#u3027popup
{
	z-index: 103;
}

#u3042
{
	z-index: 104;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3042_img
{
	margin-left: -71px;
	margin-right: -70px;
}

#u3040
{
	z-index: 106;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3036
{
	z-index: 108;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3032
{
	z-index: 110;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3030
{
	z-index: 112;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3048
{
	z-index: 114;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3034
{
	z-index: 116;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3050
{
	z-index: 118;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3046
{
	z-index: 120;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3038
{
	z-index: 122;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3028
{
	z-index: 124;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3040_img,#u3036_img,#u3032_img,#u3030_img,#u3048_img,#u3034_img,#u3050_img,#u3046_img,#u3038_img,#u3028_img
{
	margin-left: -30px;
	margin-right: -31px;
}

#u3044
{
	z-index: 126;
	width: 664px;
	height: 453px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48.jpg") no-repeat center top;
	background-size: cover;
}

#u3042_clip,#u3040_clip,#u3036_clip,#u3032_clip,#u3030_clip,#u3048_clip,#u3034_clip,#u3050_clip,#u3046_clip,#u3038_clip,#u3028_clip,#u3044_clip
{
	overflow: hidden;
	width: 664px;
	height: 453px;
}

#u3044_img
{
	margin-left: -6px;
	margin-right: -55px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu2797
{
	z-index: 128;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 928px;
	left: 236px;
}

#u2816
{
	position: absolute;
	width: 422px;
	height: 255px;
	background-color: transparent;
}

#u2816popup
{
	z-index: 129;
}

#u2817
{
	z-index: 130;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2817_img
{
	margin-left: -16px;
	margin-right: -15px;
}

#u2864
{
	z-index: 132;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2873
{
	z-index: 134;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2882
{
	z-index: 136;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2912
{
	z-index: 138;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2921
{
	z-index: 140;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2930
{
	z-index: 142;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2939
{
	z-index: 144;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2962
{
	z-index: 146;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2971
{
	z-index: 148;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2980
{
	z-index: 150;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2989
{
	z-index: 152;
	width: 422px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/screenshot_2015-06-29-22-45-48-u2817-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u2817_clip,#u2864_clip,#u2873_clip,#u2882_clip,#u2912_clip,#u2921_clip,#u2930_clip,#u2939_clip,#u2962_clip,#u2971_clip,#u2980_clip,#u2989_clip
{
	overflow: hidden;
	width: 422px;
	height: 255px;
}

#u2864_img,#u2873_img,#u2882_img,#u2912_img,#u2921_img,#u2930_img,#u2939_img,#u2962_img,#u2971_img,#u2980_img,#u2989_img
{
	margin-top: -4px;
	margin-bottom: -5px;
}

#u3195
{
	z-index: 164;
	width: 1340px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 683px;
}

#u2559
{
	z-index: 324;
	width: 403px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 148px;
}

#u2559:hover
{
	width: 403px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

#u2559:active
{
	width: 403px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
}

#u3210
{
	z-index: 166;
	width: 240px;
	background-color: transparent;
	position: fixed;
	top: 1209px;
	left: -3px;
}

#u3155-6
{
	z-index: 154;
	width: 794px;
	min-height: 53px;
	background-color: transparent;
	font-size: 40px;
	line-height: 44px;
	margin-left: 78px;
	position: relative;
}

#u3235
{
	z-index: 168;
	width: 320px;
	background-color: transparent;
	position: fixed;
	top: 1249px;
	left: 730px;
}

#u3157-4
{
	z-index: 160;
	width: 251px;
	min-height: 42px;
	line-height: 36px;
	margin-left: 350px;
	margin-top: 12px;
	position: relative;
}

#u3157-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 251px;
	margin: 12px 0px 0px 350px;
}

.MainButton
{
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
}

#u3157-4:hover p
{
	color: #367F92;
	visibility: inherit;
	text-decoration: none;
}

#u3287-4
{
	z-index: 215;
	width: 40px;
	min-height: 33px;
	background-color: transparent;
	color: #105777;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 455px;
	margin-top: 34px;
	position: relative;
}

#u3286
{
	z-index: 211;
	width: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 317px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u3278
{
	z-index: 212;
	width: 315px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3283
{
	z-index: 214;
	width: 307px;
	height: 98px;
	border-width: 4px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3283:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 16px rgba(54,127,146,0.6),0px 0px 16px rgba(54,127,146,0.6);
	width: 307px;
	height: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3253
{
	z-index: 170;
	min-height: 459.60000000000014px;
	padding-bottom: 0px;
	background: #000000 url("../images/swecqueintro.jpg") no-repeat center center;
}

#u3253_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	position: relative;
	left: -100px;
}

#u3253_position_content
{
	margin-bottom: -36px;
	padding-top: 138px;
}

#u3260-4
{
	z-index: 171;
	width: 386px;
	min-height: 58px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	left: 120px;
	position: relative;
}

#u3262-4
{
	z-index: 175;
	width: 251px;
	min-height: 42px;
	line-height: 36px;
	left: 188px;
	margin-top: 8px;
	position: relative;
}

#u3262-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 251px;
	margin: 8px 0px 0px;
}

#u3262-4:hover p
{
	color: #C5C3C3;
	visibility: inherit;
	text-decoration: none;
}

#u3262-2
{
	color: #FFFFFF;
}

#u3264-4
{
	z-index: 179;
	width: 660px;
	min-height: 60px;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	line-height: 72px;
	left: 245px;
	margin-top: 178px;
	position: relative;
}

#u3253-bw
{
	z-index: 170;
	min-height: 459.60000000000014px;
	margin-top: 32px;
}

#u3265-4
{
	z-index: 183;
	width: 910px;
	min-height: 51px;
	background-color: transparent;
	line-height: 24px;
	margin-left: 20px;
	margin-top: 46px;
	position: relative;
}

#pu3277-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -6px;
}

#u3277-4
{
	z-index: 207;
	width: 440px;
	min-height: 47px;
	border-style: solid;
	color: #105777;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 3px;
}

#u3277-4:hover
{
	border-color: #367F92;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 440px;
	margin: 0px -10000px -2px 0px;
}

.BusinessButton
{
	border-style: solid;
	border-color: #105777;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u3270-4
{
	z-index: 191;
	width: 440px;
	min-height: 47px;
	border-style: solid;
	color: #105777;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 470px;
	border-width: 0px 0px 3px;
}

#pu3269-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 22px;
}

#u3269-4
{
	z-index: 187;
	width: 440px;
	min-height: 47px;
	border-style: solid;
	color: #105777;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 3px;
}

#u3271-4
{
	z-index: 195;
	width: 440px;
	min-height: 47px;
	border-style: solid;
	color: #105777;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 470px;
	border-width: 0px 0px 3px;
}

#pu3272-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 23px;
}

#u3272-4
{
	z-index: 199;
	width: 440px;
	min-height: 47px;
	border-style: solid;
	color: #105777;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 3px;
}

#u3273-4
{
	z-index: 203;
	width: 440px;
	min-height: 47px;
	border-style: solid;
	color: #105777;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 470px;
	border-width: 0px 0px 3px;
}

#u3270-4:hover,#u3269-4:hover,#u3271-4:hover,#u3272-4:hover,#u3273-4:hover
{
	border-color: #367F92;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 440px;
	margin: 0px -10000px -2px 0px;
}

#u3277-4:hover p,#u3270-4:hover p,#u3269-4:hover p,#u3271-4:hover p,#u3272-4:hover p,#u3273-4:hover p
{
	color: #367F92;
	visibility: inherit;
	padding-top: 0px;
}

#u3277-2,#u3270-2,#u3269-2,#u3271-2,#u3272-2,#u3273-2
{
	padding-top: 10px;
}

#pu2378
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 19px;
}

#u2378
{
	z-index: 4;
	min-height: 259px;
}

#u2378_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	left: -100px;
	padding-top: 5px;
	padding-bottom: 7px;
}

#u3837
{
	z-index: 95;
	width: 50px;
	min-height: 25px;
	left: 231px;
}

#pu3822
{
	width: 0.01px;
	left: 100px;
	margin-top: 20px;
	position: relative;
}

#u3822
{
	z-index: 9;
	width: 220px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3811-4
{
	z-index: 26;
	width: 220px;
	min-height: 34px;
}

#u3803-4
{
	z-index: 10;
	width: 220px;
	min-height: 34px;
	margin-top: 4px;
}

#u3803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 220px;
	margin: 4px 0px 0px;
}

#u3805-4
{
	z-index: 14;
	width: 220px;
	min-height: 20px;
	margin-top: 9px;
}

#u3805-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 220px;
	margin: 9px 0px 0px;
}

#u3809-4
{
	z-index: 18;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3810-4
{
	z-index: 22;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3823
{
	z-index: 30;
	width: 220px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 243px;
}

#u3812-4
{
	z-index: 31;
	width: 220px;
	min-height: 34px;
}

#u3813-4
{
	z-index: 35;
	width: 220px;
	min-height: 20px;
	margin-top: 9px;
}

#u3814-4
{
	z-index: 39;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3815-4
{
	z-index: 43;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3816-4
{
	z-index: 47;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3833
{
	z-index: 72;
	width: 220px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 487px;
}

#u3817-4
{
	z-index: 73;
	width: 220px;
	min-height: 34px;
}

#u3818-4
{
	z-index: 77;
	width: 220px;
	min-height: 20px;
	margin-top: 9px;
}

#u3819-4
{
	z-index: 81;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3820-4
{
	z-index: 85;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3830-4
{
	z-index: 89;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3832
{
	z-index: 51;
	width: 220px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 730px;
}

#u3826-4
{
	z-index: 52;
	width: 220px;
	min-height: 34px;
}

#u3811-4:hover,#u3812-4:hover,#u3817-4:hover,#u3826-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 220px;
	margin: 0px;
}

#u3827-4
{
	z-index: 56;
	width: 220px;
	min-height: 20px;
	margin-top: 9px;
}

#u3805-4.MuseLinkActive,#u3813-4:hover,#u3818-4:hover,#u3827-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 220px;
	margin: 9px 0px 0px;
}

#u3828-4
{
	z-index: 60;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3829-4
{
	z-index: 64;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3831-4
{
	z-index: 68;
	width: 220px;
	min-height: 20px;
	margin-top: 5px;
}

#u3809-4:hover,#u3810-4:hover,#u3814-4:hover,#u3815-4:hover,#u3816-4:hover,#u3819-4:hover,#u3820-4:hover,#u3830-4:hover,#u3828-4:hover,#u3829-4:hover,#u3831-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 220px;
	margin: 5px 0px 0px;
}

#pu2377-4
{
	width: 0.01px;
	left: 100px;
	margin-top: 22px;
	position: relative;
}

#u2377-4
{
	z-index: 5;
	width: 603px;
	min-height: 25px;
	margin-right: -10000px;
}

#u4016-4
{
	z-index: 96;
	width: 285px;
	min-height: 25px;
	margin-right: -10000px;
	left: 665px;
}

#u4016-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 285px;
	margin: 0px -10000px 0px 0px;
}

#u2378-bw
{
	z-index: 4;
	min-height: 259px;
	margin-top: 39px;
}

#u3834
{
	z-index: 93;
	width: 208px;
	margin-right: -10000px;
	left: 471px;
}

body
{
	position: relative;
	min-width: 950px;
}

#page .verticalspacer
{
	clear: both;
}

