#u7249
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.75)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.75) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.75) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF000000', endColorstr='#00FFFFFF', GradientType=0)";
	position: fixed;
}

.js #u7249.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3880
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u5471
{
	overflow: hidden;
	position: relative;
}

.Navbox
{
	border-style: none;
	-pie-box-shadow: -3px 6px 7px #ADADAD;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.32);
	border-color: #000000;
	background-color: #FFFFFF;
}

#menuu5359,#u5396
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5396:hover
{
	background-color: #EFEFEF;
}

#u5398-4
{
	border-style: none;
	border-color: transparent;
	text-align: left;
	line-height: 36px;
	position: relative;
	background: transparent url("../images/group66_small-u5398-4-fr.png") no-repeat left center;
	background-size: contain;
}

#u5396:hover #u5398-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u3881,#u5401,#u5410
{
	position: relative;
}

#u5410:hover
{
	background-color: #EFEFEF;
}

.Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u5411-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5410:hover #u5411-4 p,#u5410:hover #u5411-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5419
{
	position: relative;
}

#u5410.MuseMenuActive,#u5419:hover
{
	background-color: #EFEFEF;
}

#u5420-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5419:hover #u5420-4 p,#u5419:hover #u5420-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5405
{
	position: relative;
}

#u5419.MuseMenuActive,#u5405:hover
{
	background-color: #EFEFEF;
}

#u5406-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5405:hover #u5406-4 p,#u5405:hover #u5406-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5361
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5405.MuseMenuActive,#u5361:hover
{
	background-color: #EFEFEF;
}

#u5364-4
{
	border-style: none;
	border-color: transparent;
	text-align: left;
	line-height: 36px;
	position: relative;
	background: transparent url("../images/game55_small-u5364-4-fr.png") no-repeat left center;
	background-size: contain;
}

#u5396.MuseMenuActive #u5398-4,#u5361:hover #u5364-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u5366,#u5375
{
	position: relative;
}

#u5375:hover
{
	background-color: #EFEFEF;
}

#u5376-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5375:hover #u5376-4 p,#u5375:hover #u5376-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5389
{
	position: relative;
}

#u5375.MuseMenuActive,#u5389:hover
{
	background-color: #EFEFEF;
}

#u5392-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5389:hover #u5392-4 p,#u5389:hover #u5392-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5384
{
	position: relative;
}

#u5389.MuseMenuActive,#u5384:hover
{
	background-color: #EFEFEF;
}

#u5386-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5384:hover #u5386-4 p,#u5384:hover #u5386-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5370
{
	position: relative;
}

#u5384.MuseMenuActive,#u5370:hover
{
	background-color: #EFEFEF;
}

#u5372-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5370:hover #u5372-4 p,#u5370:hover #u5372-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5461
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5370.MuseMenuActive,#u5461:hover
{
	background-color: #EFEFEF;
}

#u5464-4
{
	border-style: none;
	border-color: transparent;
	text-align: left;
	line-height: 36px;
	position: relative;
	background: transparent url("../images/information68_small-u5464-4-fr.png") no-repeat left center;
	background-size: contain;
}

#u5361.MuseMenuActive #u5364-4,#u5461:hover #u5464-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u5461.MuseMenuActive #u5464-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u5396.MuseMenuActive,#u5400,#u5361.MuseMenuActive,#u5365,#u5461.MuseMenuActive,#u5424
{
	background-color: transparent;
}

#u5425,#u5427
{
	position: relative;
}

#u5427:hover
{
	background-color: #EFEFEF;
}

#u5429-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5427:hover #u5429-4 p,#u5427:hover #u5429-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5443
{
	position: relative;
}

#u5427.MuseMenuActive,#u5443:hover
{
	background-color: #EFEFEF;
}

#u5445-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5443:hover #u5445-4 p,#u5443:hover #u5445-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5455
{
	position: relative;
}

#u5443.MuseMenuActive,#u5455:hover
{
	background-color: #EFEFEF;
}

#u5458-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5455:hover #u5458-4 p,#u5455:hover #u5458-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5448
{
	position: relative;
}

#u5455.MuseMenuActive,#u5448:hover
{
	background-color: #EFEFEF;
}

#u5450-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5448:hover #u5450-4 p,#u5448:hover #u5450-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5395,#u5409,#u5416,#u5402,#u5360,#u5374,#u5388,#u5381,#u5367,#u5423,#u5426,#u5440,#u5454,#u5447,#u5433
{
	background-color: transparent;
	position: relative;
}

#u5436
{
	position: relative;
}

#u5448.MuseMenuActive,#u5436:hover
{
	background-color: #EFEFEF;
}

#u5436.MuseMenuActive
{
	background-color: #EFEFEF;
}

#u5439-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5436:hover #u5439-4 p,#u5436:hover #u5439-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5410.MuseMenuActive #u5411-4 p,#u5410.MuseMenuActive #u5411-4 h3,#u5419.MuseMenuActive #u5420-4 p,#u5419.MuseMenuActive #u5420-4 h3,#u5405.MuseMenuActive #u5406-4 p,#u5405.MuseMenuActive #u5406-4 h3,#u5375.MuseMenuActive #u5376-4 p,#u5375.MuseMenuActive #u5376-4 h3,#u5389.MuseMenuActive #u5392-4 p,#u5389.MuseMenuActive #u5392-4 h3,#u5384.MuseMenuActive #u5386-4 p,#u5384.MuseMenuActive #u5386-4 h3,#u5370.MuseMenuActive #u5372-4 p,#u5370.MuseMenuActive #u5372-4 h3,#u5427.MuseMenuActive #u5429-4 p,#u5427.MuseMenuActive #u5429-4 h3,#u5443.MuseMenuActive #u5445-4 p,#u5443.MuseMenuActive #u5445-4 h3,#u5455.MuseMenuActive #u5458-4 p,#u5455.MuseMenuActive #u5458-4 h3,#u5448.MuseMenuActive #u5450-4 p,#u5448.MuseMenuActive #u5450-4 h3,#u5436.MuseMenuActive #u5439-4 p,#u5436.MuseMenuActive #u5439-4 h3
{
	color: #333333;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

