#u892
{
	background: transparent url("../images/haylandscape.jpg") no-repeat center top;
	background-size: cover;
}

.Navbox
{
	border-style: none;
	-pie-box-shadow: -3px 6px 7px #ADADAD;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.32);
	border-color: #000000;
	background-color: #FFFFFF;
}

#u2514,#menuu2515,#u3692
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3693-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 36px;
	position: relative;
}

#u3692:hover #u3693-4 p,#u3692:hover #u3693-4 h2
{
	color: #367F92;
	visibility: inherit;
}

#u2540
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2543-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 36px;
	position: relative;
}

#u2540:hover #u2543-4 p,#u2540:hover #u2543-4 h2
{
	color: #367F92;
	visibility: inherit;
}

#u892_align_to_page,#u2558,#u2525,#u2529
{
	position: relative;
}

#u2529:hover
{
	background-color: #EFEFEF;
}

.Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u2532-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u2529:hover #u2532-4 p,#u2529:hover #u2532-4 h3
{
	color: #367F92;
	visibility: inherit;
}

#u2534
{
	position: relative;
}

#u2534:hover
{
	background-color: #EFEFEF;
}

#u2536-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u2534:hover #u2536-4 p,#u2534:hover #u2536-4 h3
{
	color: #367F92;
	visibility: inherit;
}

#u2517
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2519-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 36px;
	position: relative;
}

#u2517:hover #u2519-4 p,#u2517:hover #u2519-4 h2
{
	color: #367F92;
	visibility: inherit;
}

#u2522,#u3840
{
	position: relative;
}

#u3840:hover
{
	background-color: #EFEFEF;
}

#u3842-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3840:hover #u3842-4 p,#u3840:hover #u3842-4 h3
{
	color: #367F92;
	visibility: inherit;
}

#u3849
{
	position: relative;
}

#u3849:hover
{
	background-color: #EFEFEF;
}

#u3851-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3849:hover #u3851-4 p,#u3849:hover #u3851-4 h3
{
	color: #367F92;
	visibility: inherit;
}

#u3858
{
	position: relative;
}

#u3858:hover
{
	background-color: #EFEFEF;
}

#u3860-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3858:hover #u3860-4 p,#u3858:hover #u3860-4 h3
{
	color: #367F92;
	visibility: inherit;
}

#u3866
{
	position: relative;
}

#u3866:hover
{
	background-color: #EFEFEF;
}

#u3868-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3866:hover #u3868-4 p,#u3866:hover #u3868-4 h3
{
	color: #367F92;
	visibility: inherit;
}

#u2566
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2569-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 36px;
	position: relative;
}

#u2566:hover #u2569-4 p,#u2566:hover #u2569-4 h2
{
	color: #367F92;
	visibility: inherit;
}

#u2565,#u3762
{
	position: relative;
}

#u3762:hover
{
	background-color: #EFEFEF;
}

#u3764-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3762:hover #u3764-4 p
{
	color: #367F92;
	visibility: inherit;
}

#u3769
{
	position: relative;
}

#u3769:hover
{
	background-color: #EFEFEF;
}

#u3771-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3769:hover #u3771-4 p
{
	color: #367F92;
	visibility: inherit;
}

#u3776
{
	position: relative;
}

#u3776:hover
{
	background-color: #EFEFEF;
}

#u3779-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3776:hover #u3779-4 p
{
	color: #367F92;
	visibility: inherit;
}

#u3785
{
	position: relative;
}

#u3785:hover
{
	background-color: #EFEFEF;
}

#u3786-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3785:hover #u3786-4 p
{
	color: #367F92;
	visibility: inherit;
}

#u3792
{
	position: relative;
}

#u3792:hover
{
	background-color: #EFEFEF;
}

#u3794-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3792:hover #u3794-4 p
{
	color: #367F92;
	visibility: inherit;
}

#u3799
{
	position: relative;
}

#u3799:hover
{
	background-color: #EFEFEF;
}

#u2529.MuseMenuActive,#u2534.MuseMenuActive,#u3840.MuseMenuActive,#u3849.MuseMenuActive,#u3858.MuseMenuActive,#u3866.MuseMenuActive,#u3762.MuseMenuActive,#u3769.MuseMenuActive,#u3776.MuseMenuActive,#u3785.MuseMenuActive,#u3792.MuseMenuActive,#u3799.MuseMenuActive
{
	background-color: #FFFFFF;
}

#u3800-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3799:hover #u3800-4 p
{
	color: #367F92;
	visibility: inherit;
}

#u3692.MuseMenuActive #u3693-4 p,#u3692.MuseMenuActive #u3693-4 h2,#u2540.MuseMenuActive #u2543-4 p,#u2540.MuseMenuActive #u2543-4 h2,#u2529.MuseMenuActive #u2532-4 p,#u2529.MuseMenuActive #u2532-4 h3,#u2534.MuseMenuActive #u2536-4 p,#u2534.MuseMenuActive #u2536-4 h3,#u2517.MuseMenuActive #u2519-4 p,#u2517.MuseMenuActive #u2519-4 h2,#u3840.MuseMenuActive #u3842-4 p,#u3840.MuseMenuActive #u3842-4 h3,#u3849.MuseMenuActive #u3851-4 p,#u3849.MuseMenuActive #u3851-4 h3,#u3858.MuseMenuActive #u3860-4 p,#u3858.MuseMenuActive #u3860-4 h3,#u3866.MuseMenuActive #u3868-4 p,#u3866.MuseMenuActive #u3868-4 h3,#u2566.MuseMenuActive #u2569-4 p,#u2566.MuseMenuActive #u2569-4 h2,#u3762.MuseMenuActive #u3764-4 p,#u3769.MuseMenuActive #u3771-4 p,#u3776.MuseMenuActive #u3779-4 p,#u3785.MuseMenuActive #u3786-4 p,#u3792.MuseMenuActive #u3794-4 p,#u3799.MuseMenuActive #u3800-4 p
{
	color: #105777;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2559
{
	border-style: none;
	background-color: transparent;
	position: relative;
}

#u2524,#u2521,#u2564,#u2559:hover
{
	background-color: transparent;
}

#u2378
{
	background: -webkit-gradient(linear, left center, right center, from(#105777),color-stop(100%, #367F92));
	background: -webkit-linear-gradient(left,#105777 ,#367F92 100%);
	background: linear-gradient(to right,#105777 ,#367F92 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF105777, endColorstr=#FF367F92, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF105777', endColorstr='#FF367F92', GradientType=1)";
	background-size: 100% auto;
}

#u2378_align_to_page
{
	position: relative;
}

#u3811-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

.FooterHeading
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 2px;
}

#u3811-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
	padding-top: 0px;
	text-indent: 0px;
}

#u3811-2
{
	padding-top: 5px;
}

#u3803-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u3803-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
	padding-top: 0px;
	text-indent: 0px;
}

#u3803-2
{
	padding-top: 5px;
}

#u3805-4
{
	line-height: 17px;
	position: relative;
}

#u2559:active,#u3805-4:hover
{
	background-color: transparent;
}

.FooterSubline
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u3805-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3805-4.MuseLinkActive p
{
	color: #EFEFEF;
	visibility: inherit;
}

#u3809-4
{
	line-height: 17px;
	position: relative;
}

#u3810-4
{
	line-height: 17px;
	position: relative;
}

#u3812-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u3812-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
	padding-top: 0px;
	text-indent: 0px;
}

#u3812-2
{
	padding-top: 5px;
}

#u3813-4
{
	line-height: 17px;
	position: relative;
}

#u3814-4
{
	line-height: 17px;
	position: relative;
}

#u3815-4
{
	line-height: 17px;
	position: relative;
}

#u3816-4
{
	line-height: 17px;
	position: relative;
}

#u3817-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u3817-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
	padding-top: 0px;
	text-indent: 0px;
}

#u3817-2
{
	padding-top: 5px;
}

#u3818-4
{
	line-height: 17px;
	position: relative;
}

#u3819-4
{
	line-height: 17px;
	position: relative;
}

#u3820-4
{
	line-height: 17px;
	position: relative;
}

#u3830-4
{
	line-height: 17px;
	position: relative;
}

#u3837,#u3822,#u3823,#u3833,#u3832
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3826-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u3811-4:hover,#u3803-4:hover,#u3812-4:hover,#u3817-4:hover,#u3826-4:hover
{
	border-color: #29ABE2;
}

#u3826-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
	padding-top: 0px;
	text-indent: 0px;
}

#u3826-2
{
	padding-top: 5px;
}

#u3827-4
{
	line-height: 17px;
	position: relative;
}

#u3828-4
{
	line-height: 17px;
	position: relative;
}

#u3829-4
{
	line-height: 17px;
	position: relative;
}

#u3831-4
{
	line-height: 17px;
	position: relative;
}

#u2377-4,#u4016-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3805-4.MuseLinkActive,#u4016-4:hover
{
	background-color: transparent;
}

#u3809-4:hover p,#u3810-4:hover p,#u3813-4:hover p,#u3814-4:hover p,#u3815-4:hover p,#u3816-4:hover p,#u3818-4:hover p,#u3819-4:hover p,#u3820-4:hover p,#u3830-4:hover p,#u3827-4:hover p,#u3828-4:hover p,#u3829-4:hover p,#u3831-4:hover p,#u4016-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3675,#u2523,#u2526,#u2533,#u2516,#u3839,#u3848,#u3855,#u3863,#u2563,#u3761,#u3768,#u3775,#u3782,#u3789,#u3796,#u3834
{
	background-color: transparent;
	position: relative;
}

