.version.the_game /* version checker */
{
	color: #00001D;
	background-color: #ADA2AD;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 1022px;
	min-height: 1022px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -71px;
	margin-bottom: -5px;
	width: 0.01px;
}

#pu892
{
	width: 0.01px;
	margin-left: -100px;
}

#u892
{
	z-index: 2;
	min-height: 253px;
}

#u892_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	left: -100px;
}

#trailer
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 37px;
}

#u4557-4
{
	z-index: 97;
	width: 718px;
	min-height: 59px;
	border-style: none;
	border-color: transparent;
	line-height: 72px;
	margin-bottom: -12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 253px;
}

.Headerbox
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 3px;
}

#u892-bw
{
	z-index: 2;
	min-height: 253px;
	margin-top: 71px;
}

#u4576
{
	z-index: 101;
	min-height: 605px;
	padding-bottom: 94px;
	background: #29ABE2 url("../images/nature-sky-sunny-clouds.jpg") no-repeat center bottom;
	background-size: cover;
}

#storyline
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 587px;
	left: 37px;
}

#u4576-bw
{
	z-index: 101;
	min-height: 605px;
	margin-top: 386px;
}

#u4572-4
{
	z-index: 103;
	width: 386px;
	min-height: 55px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 331px;
	left: 419px;
}

#u4573
{
	z-index: 107;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 1003px;
}

#u4577-4
{
	z-index: 115;
	width: 428px;
	min-height: 73px;
	border-style: solid;
	line-height: 72px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1027px;
	left: 394px;
	border-width: 0px 0px 3px;
}

#pamphletu4800
{
	z-index: 170;
	width: 0.01px;
	height: 478px;
	position: relative;
	margin-right: -10000px;
	margin-top: 469px;
	left: 186px;
}

#u4805
{
	position: absolute;
	width: 994px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -120px;
	left: -75px;
	-pie-background: rgba(0,0,0,0.9);
}

#u4805popup
{
	z-index: 171;
}

#u4806
{
	z-index: 172;
	width: 950px;
	height: 606px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4897-4
{
	z-index: 174;
	width: 488px;
	min-height: 51px;
	background-color: transparent;
	color: #EFEFEF;
	line-height: 72px;
	margin-left: 226px;
	position: relative;
}

#u4568
{
	z-index: 173;
	width: 950px;
	min-height: 530px;
	border-color: #000000;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u4812
{
	z-index: 178;
	width: 845px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4813
{
	position: absolute;
	width: 841px;
	height: 476px;
	-pie-box-shadow: none;
	box-shadow: -3px 5px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/trailertumbnail.jpg") no-repeat center center;
	background-size: cover;
}

#u4813:hover
{
	width: 841px;
	height: 476px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/trailertumbnailpressed.jpg") no-repeat center center;
	background-size: cover;
}

#u4816
{
	height: 67px;
	width: 67px;
	vertical-align: top;
	position: fixed;
	top: 85px;
	right: 169px;
	background: url("../images/cross92-u4816.png") no-repeat 0px 0px;
}

#u4816:hover
{
	background: url("../images/cross92-u4816-r.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2514
{
	z-index: 183;
	width: 573px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 549px;
}

#u2558
{
	z-index: 184;
	width: 573px;
	margin-right: -10000px;
}

#menuu2515
{
	z-index: 185;
	width: 573px;
	margin-right: -10000px;
}

#u2523
{
	width: 174px;
	min-height: 56px;
	margin-right: -10000px;
}

#u2540
{
	width: 174px;
	padding-bottom: 8px;
}

#u2540:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2540.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2543
{
	height: 48px;
	width: 146px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2524
{
	width: 173px;
	top: 56px;
}

#u2529
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2532-4
{
	width: 69px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 48px;
}

#u2529:hover #u2532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2534
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2529.MuseMenuActive,#u2534:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2536-4
{
	width: 79px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 43px;
}

#u2534:hover #u2536-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u5250
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2534.MuseMenuActive,#u5250:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u5250:hover #u5252-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2516
{
	width: 177px;
	min-height: 56px;
	margin-right: -10000px;
	left: 194px;
}

#u2517
{
	width: 177px;
	padding-bottom: 8px;
}

#u2517:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2517.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px;
}

#u2519
{
	height: 48px;
	width: 149px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u2521
{
	width: 176px;
	top: 56px;
}

#u3840
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3842-4
{
	width: 58px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 55px;
}

#u3840:hover #u3842-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3849
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3840.MuseMenuActive,#u3849:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-4
{
	width: 86px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u3849:hover #u3851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3858
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3849.MuseMenuActive,#u3858:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3860-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u5250.MuseMenuActive #u5252-4,#u3858:hover #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3866
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3858.MuseMenuActive,#u3866:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3868-4
{
	width: 123px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 23px;
}

#u3866:hover #u3868-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 182px;
	min-height: 56px;
	margin-right: -10000px;
	left: 391px;
}

#u2566
{
	width: 182px;
	padding-bottom: 8px;
}

#u2566:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2566.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u2569
{
	height: 48px;
	width: 155px;
	margin-right: -10000px;
	top: 4px;
	left: 13px;
}

#u2564
{
	width: 182px;
	top: 56px;
}

#u3762
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3764-4
{
	width: 137px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3762:hover #u3764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u3776
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3762.MuseMenuActive,#u3776:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3779-4
{
	width: 50px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 62px;
}

#u3776:hover #u3779-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3785
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3776.MuseMenuActive,#u3785:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3786-4
{
	width: 96px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 39px;
}

#u3785:hover #u3786-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3792
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3785.MuseMenuActive,#u3792:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	width: 140px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u3792:hover #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3799
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3792.MuseMenuActive,#u3799:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3800-4
{
	width: 94px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u3799:hover #u3800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u5188
{
	z-index: 282;
	margin-right: -10000px;
	left: 100px;
}

#u3880
{
	z-index: 283;
	width: 1023px;
	top: 366px;
	left: 0px;
}

#u3881
{
	z-index: 284;
	width: 1023px;
	margin-right: -10000px;
	margin-top: 37px;
}

#menuu5359
{
	z-index: 291;
	width: 570px;
	margin-right: -10000px;
	left: 217px;
}

#u5395
{
	width: 173px;
	min-height: 64px;
	margin-right: -10000px;
}

#u5396
{
	width: 173px;
	padding-bottom: 16px;
}

#u5396:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5396.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5398
{
	height: 48px;
	width: 146px;
	margin-right: -10000px;
	top: 8px;
	left: 13px;
}

#u5400
{
	width: 173px;
	top: 64px;
}

#u5410
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5250.MuseMenuActive,#u5410:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5411-4
{
	width: 69px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 48px;
}

#u2529.MuseMenuActive #u2532-4,#u5410:hover #u5411-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5410.MuseMenuActive #u5411-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5419
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5410.MuseMenuActive,#u5419:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5420-4
{
	width: 79px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 43px;
}

#u2534.MuseMenuActive #u2536-4,#u5419:hover #u5420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u5419.MuseMenuActive #u5420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2525,#u2526,#u2533,#u5249,#u5401,#u5409,#u5416,#u5402
{
	width: 173px;
}

#u5405
{
	width: 173px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5419.MuseMenuActive,#u5405:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5405.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5406-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u3858.MuseMenuActive #u3860-4,#u5405:hover #u5406-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u5360
{
	width: 176px;
	min-height: 64px;
	margin-right: -10000px;
	left: 193px;
}

#u5361
{
	width: 176px;
	padding-bottom: 16px;
}

#u5361:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u5361.MuseMenuActive
{
	width: 176px;
	min-height: 0px;
	margin: 0px;
}

#u5364
{
	height: 48px;
	width: 149px;
	margin-right: -10000px;
	top: 8px;
	left: 13px;
}

#u5365
{
	width: 176px;
	top: 64px;
}

#u5375
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3866.MuseMenuActive,#u5375:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5376-4
{
	width: 58px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 55px;
}

#u3840.MuseMenuActive #u3842-4,#u5375:hover #u5376-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u5375.MuseMenuActive #u5376-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u5389
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5375.MuseMenuActive,#u5389:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5392-4
{
	width: 86px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u3849.MuseMenuActive #u3851-4,#u5389:hover #u5392-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5389.MuseMenuActive #u5392-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5384
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5389.MuseMenuActive,#u5384:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5386-4
{
	width: 113px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u5405.MuseMenuActive #u5406-4,#u5384:hover #u5386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u5384.MuseMenuActive #u5386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u2522,#u3839,#u3848,#u3855,#u3863,#u5366,#u5374,#u5388,#u5381,#u5367
{
	width: 176px;
}

#u5370
{
	width: 176px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5384.MuseMenuActive,#u5370:hover
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5370.MuseMenuActive
{
	width: 176px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5372-4
{
	width: 123px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 23px;
}

#u3866.MuseMenuActive #u3868-4,#u5370:hover #u5372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u5370.MuseMenuActive #u5372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u5423
{
	width: 181px;
	min-height: 64px;
	margin-right: -10000px;
	left: 389px;
}

#u5461
{
	width: 181px;
	padding-bottom: 16px;
}

#u5461:hover
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u5461.MuseMenuActive
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u5464
{
	height: 48px;
	width: 155px;
	margin-right: -10000px;
	top: 8px;
	left: 13px;
}

#u5424
{
	width: 182px;
	top: 64px;
}

#u5427
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3799.MuseMenuActive,#u5427:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5429-4
{
	width: 137px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u3762.MuseMenuActive #u3764-4,#u5427:hover #u5429-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u5427.MuseMenuActive #u5429-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u5443
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5427.MuseMenuActive,#u5443:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5445-4
{
	width: 50px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 62px;
}

#u3776.MuseMenuActive #u3779-4,#u5443:hover #u5445-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u5443.MuseMenuActive #u5445-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u5455
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5443.MuseMenuActive,#u5455:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5458-4
{
	width: 96px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 39px;
}

#u3785.MuseMenuActive #u3786-4,#u5455:hover #u5458-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u5455.MuseMenuActive #u5458-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u5448
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5455.MuseMenuActive,#u5448:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5450-4
{
	width: 140px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 17px;
}

#u3792.MuseMenuActive #u3794-4,#u5448:hover #u5450-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u5448.MuseMenuActive #u5450-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u2565,#u3761,#u3775,#u3782,#u3789,#u3796,#u5425,#u5426,#u5440,#u5454,#u5447,#u5433
{
	width: 182px;
}

#u5436
{
	width: 182px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5448.MuseMenuActive,#u5436:hover
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5436.MuseMenuActive
{
	width: 182px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5439-4
{
	width: 94px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u3799.MuseMenuActive #u3800-4,#u5436:hover #u5439-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u5436.MuseMenuActive #u5439-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u4057
{
	z-index: 286;
	height: 46px;
	width: 49px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 942px;
}

#u4051
{
	z-index: 289;
	height: 43px;
	width: 46px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 881px;
}

#u5471
{
	z-index: 388;
	margin-right: -10000px;
	left: 7px;
}

#u4575-7
{
	z-index: 108;
	width: 910px;
	min-height: 229px;
	background-color: transparent;
	line-height: 24px;
	margin-left: 57px;
	position: relative;
}

#pu4587-11
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 16px;
}

#u4587-11
{
	z-index: 120;
	min-height: 465px;
	background-color: #29ABE2;
}

#u4587-11-bw
{
	z-index: 120;
	min-height: 465px;
}

#u4590-4
{
	z-index: 135;
	width: 328px;
	min-height: 73px;
	border-style: solid;
	line-height: 72px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 409px;
	left: 448px;
	border-width: 0px 0px 3px;
}

#u4588-4
{
	z-index: 131;
	width: 910px;
	min-height: 192px;
	border-color: #177199;
	background-color: transparent;
	line-height: 24px;
	margin-left: 57px;
	margin-top: 1px;
	position: relative;
}

#psoundtracks
{
	width: 0.01px;
	margin-left: -63px;
	margin-top: 15px;
}

#soundtracks
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 574px;
}

#u4616
{
	z-index: 139;
	width: 950px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#pu4736
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 60px;
}

#u4736
{
	z-index: 141;
	height: 580px;
	background-color: #000000;
}

#u4736-bw
{
	z-index: 141;
	margin-top: 57px;
	height: 580px;
}

#u4723
{
	z-index: 142;
	min-height: 607px;
	background: #000000 url("../images/patrickpbackground.jpg") no-repeat left center;
	background-size: contain;
}

#u4576_align_to_page,#u4723_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	position: relative;
	left: -100px;
}

#releases
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 361px;
	left: 37px;
}

#pu4612
{
	width: 0.01px;
	margin: 62px -10000px -18px 359px;
}

#u4612
{
	z-index: 155;
	width: 590px;
	min-height: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 138px;
	position: relative;
}

#u4615-4
{
	z-index: 156;
	width: 506px;
	min-height: 71px;
	border-style: solid;
	line-height: 72px;
	margin-top: 149px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u4723-bw
{
	z-index: 142;
	min-height: 607px;
	margin-top: 135px;
}

#u4592-12
{
	z-index: 143;
	width: 910px;
	min-height: 109px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 157px;
}

#u4592,#u4592-6,#u4592-9
{
	color: #EFEFEF;
}

#u4722-4
{
	z-index: 164;
	width: 427px;
	min-height: 72px;
	border-style: solid;
	border-color: #1686DA;
	background-color: #000000;
	border-radius: 10px 10px 0px 0px ;
	color: #EFEFEF;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	left: 398px;
	border-width: 0px 0px 3px;
}

#u4623-4
{
	z-index: 160;
	width: 910px;
	min-height: 192px;
	background-color: transparent;
	line-height: 24px;
	margin-left: 57px;
	margin-top: 15px;
	position: relative;
}

#pu2378
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -34px;
}

#u2378
{
	z-index: 3;
	min-height: 258.8499999999999px;
	padding-bottom: 0px;
}

#u2378_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1022px;
	left: -100px;
	padding-top: 50px;
	padding-bottom: 7px;
}

#pu3822
{
	width: 0.01px;
	left: 121px;
	position: relative;
}

#u3822
{
	z-index: 8;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3811-4
{
	z-index: 25;
	width: 230px;
	min-height: 34px;
}

#u3803-4
{
	z-index: 9;
	width: 230px;
	min-height: 34px;
	margin-top: 4px;
}

#u3803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 230px;
	margin: 4px 0px 0px;
}

#u3805-4
{
	z-index: 13;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3805-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3809-4
{
	z-index: 17;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3810-4
{
	z-index: 21;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3823
{
	z-index: 29;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 250px;
}

#u3812-4
{
	z-index: 30;
	width: 230px;
	min-height: 34px;
}

#u3813-4
{
	z-index: 34;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3814-4
{
	z-index: 38;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3815-4
{
	z-index: 42;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3816-4
{
	z-index: 46;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3833
{
	z-index: 71;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 500px;
}

#u3817-4
{
	z-index: 72;
	width: 230px;
	min-height: 34px;
}

#u3818-4
{
	z-index: 76;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3819-4
{
	z-index: 80;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3820-4
{
	z-index: 84;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3830-4
{
	z-index: 88;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3832
{
	z-index: 50;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	left: 750px;
}

#u3826-4
{
	z-index: 51;
	width: 230px;
	min-height: 34px;
}

#u3811-4:hover,#u3812-4:hover,#u3817-4:hover,#u3826-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 230px;
	margin: 0px;
}

#u3827-4
{
	z-index: 55;
	width: 230px;
	min-height: 20px;
	margin-top: 9px;
}

#u3805-4.MuseLinkActive,#u3813-4:hover,#u3818-4:hover,#u3827-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 9px 0px 0px;
}

#u3828-4
{
	z-index: 59;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3829-4
{
	z-index: 63;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3831-4
{
	z-index: 67;
	width: 230px;
	min-height: 20px;
	margin-top: 5px;
}

#u3809-4:hover,#u3810-4:hover,#u3814-4:hover,#u3815-4:hover,#u3816-4:hover,#u3819-4:hover,#u3820-4:hover,#u3830-4:hover,#u3828-4:hover,#u3829-4:hover,#u3831-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 5px 0px 0px;
}

#pu2377-4
{
	width: 0.01px;
	left: 100px;
	margin-top: 21px;
	position: relative;
}

#u2377-4
{
	z-index: 4;
	width: 603px;
	min-height: 25px;
	margin-right: -10000px;
}

#u4016-4
{
	z-index: 92;
	width: 285px;
	min-height: 25px;
	margin-right: -10000px;
	left: 716px;
}

#u4016-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 285px;
	margin: 0px -10000px 0px 0px;
}

#u2378-bw
{
	z-index: 3;
	min-height: 258.8499999999999px;
	margin-top: 100px;
}

#u5191
{
	z-index: 96;
	margin-right: -10000px;
	left: 504px;
}

body
{
	position: relative;
	min-width: 1022px;
}

#page .verticalspacer
{
	clear: both;
}

