.version.about_us /* version checker */
{
	color: #000004;
	background-color: #3A9011;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1131.8000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -40px;
	margin-bottom: -2px;
	width: 0.01px;
}

#u4169
{
	z-index: 2;
	height: 110px;
}

#u4169-bw
{
	z-index: 2;
	margin-top: 40px;
	height: 110px;
}

#u5053-4
{
	z-index: 45;
	min-height: 44px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
}

#u5053-4-bw
{
	z-index: 45;
	min-height: 44px;
	margin-top: 208px;
}

#u5054-4
{
	z-index: 49;
	width: 346px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 17px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u5054-2
{
	font-family: unifrakturmaguntia, fantasy;
}

#pamphletu4985
{
	z-index: 149;
	width: 0.01px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 306px;
}

#u4988
{
	z-index: 150;
	width: 53px;
	margin-right: -10000px;
}

#u4991
{
	width: 53px;
	height: 46px;
}

#u4992popup
{
	z-index: 152;
}

#u4992
{
	width: 386px;
	padding-bottom: 44px;
	top: 31px;
	left: -309px;
}

#u4995
{
	z-index: 153;
	width: 342px;
	height: 542px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u4995_position_content
{
	padding-top: 36px;
	padding-bottom: 228px;
}

#u5126
{
	z-index: 154;
	width: 342px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u5016-4
{
	z-index: 230;
	width: 182px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u5041-4
{
	z-index: 155;
	width: 342px;
	min-height: 56px;
	top: -1px;
	margin-bottom: -1px;
}

#u5041-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#accordionu4972
{
	z-index: 159;
	width: 342px;
}

#u4973
{
	z-index: 160;
	width: 342px;
}

#u4976-4
{
	z-index: 161;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4974
{
	z-index: 165;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5019-4
{
	z-index: 166;
	width: 340px;
	min-height: 40px;
}

#u5021-4
{
	z-index: 170;
	width: 340px;
	min-height: 40px;
}

#u5023-4
{
	z-index: 174;
	width: 340px;
	min-height: 40px;
}

#u4981
{
	z-index: 178;
	width: 342px;
}

#u4982-4
{
	z-index: 179;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4.AccordionPanelTabOpen,#u4982-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4983
{
	z-index: 183;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5024-4
{
	z-index: 184;
	width: 340px;
	min-height: 40px;
}

#u5025-4
{
	z-index: 188;
	width: 340px;
	min-height: 40px;
}

#u5026-4
{
	z-index: 192;
	width: 340px;
	min-height: 40px;
}

#u5027-4
{
	z-index: 196;
	width: 340px;
	min-height: 40px;
}

#u5028-4
{
	z-index: 200;
	width: 340px;
	min-height: 40px;
}

#u4977
{
	z-index: 204;
	width: 342px;
}

#u4978-4
{
	z-index: 205;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4982-4.AccordionPanelTabOpen,#u4978-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4979
{
	z-index: 209;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5029-4
{
	z-index: 210;
	width: 340px;
	min-height: 40px;
}

#u5030-4
{
	z-index: 214;
	width: 340px;
	min-height: 40px;
}

#u5031-4
{
	z-index: 218;
	width: 340px;
	min-height: 40px;
}

#u5033-4
{
	z-index: 226;
	width: 340px;
	min-height: 40px;
}

#u5032-4
{
	z-index: 222;
	width: 340px;
	min-height: 40px;
}

#u5118
{
	z-index: 234;
	width: 205px;
	margin-right: -10000px;
}

#topofpage
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 4px;
}

#pu7021
{
	width: 0.01px;
	padding-bottom: 292px;
	margin-top: -212px;
}

#u7021
{
	z-index: 235;
	height: 91px;
}

#u7021-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 235;
	top: 0px;
}

#u7022
{
	z-index: 321;
	top: 139px;
	left: 0px;
}

#pamphletu6985
{
	z-index: 236;
	width: 0.01px;
	height: 46px;
	top: 172px;
	left: 321px;
}

#u7019
{
	z-index: 237;
	width: 53px;
	margin-right: -10000px;
}

#u7020
{
	width: 53px;
	height: 46px;
}

#u4991:hover,#u7020:hover
{
	width: 53px;
	height: 46px;
	min-height: 0px;
	margin: 0px;
}

#u6988popup
{
	z-index: 239;
}

#u6988
{
	width: 386px;
	padding-bottom: 44px;
	top: 30px;
	left: -310px;
}

#u6989
{
	z-index: 240;
	width: 342px;
	height: 542px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u6989_position_content
{
	padding-top: 36px;
	padding-bottom: 26px;
}

#u6990
{
	z-index: 241;
	width: 342px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u6991-4
{
	z-index: 317;
	width: 182px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u7015-4
{
	z-index: 242;
	width: 342px;
	min-height: 56px;
	top: -1px;
	margin-bottom: -1px;
}

#u5041-4.MuseLinkActive,#u7015-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#u7015-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#accordionu6992
{
	z-index: 246;
	width: 342px;
}

#u7001
{
	z-index: 247;
	width: 342px;
}

#u7002-4
{
	z-index: 248;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4978-4.AccordionPanelTabOpen,#u7002-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u7003
{
	z-index: 252;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u7005-4
{
	z-index: 253;
	width: 340px;
	min-height: 40px;
}

#u7006-4
{
	z-index: 257;
	width: 340px;
	min-height: 40px;
}

#u7004-4
{
	z-index: 261;
	width: 340px;
	min-height: 40px;
}

#u7007
{
	z-index: 265;
	width: 342px;
}

#u7008-4
{
	z-index: 266;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7002-4.AccordionPanelTabOpen,#u7008-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u7009
{
	z-index: 270;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u7012-4
{
	z-index: 271;
	width: 340px;
	min-height: 40px;
}

#u7014-4
{
	z-index: 275;
	width: 340px;
	min-height: 40px;
}

#u7010-4
{
	z-index: 279;
	width: 340px;
	min-height: 40px;
}

#u7011-4
{
	z-index: 283;
	width: 340px;
	min-height: 40px;
}

#u7013-4
{
	z-index: 287;
	width: 340px;
	min-height: 40px;
}

#u6993
{
	z-index: 291;
	width: 342px;
}

#u7000-4
{
	z-index: 292;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7008-4.AccordionPanelTabOpen,#u7000-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u7000-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u6994
{
	z-index: 296;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2.0000000000001137px;
}

#u6997-4
{
	z-index: 297;
	width: 340px;
	min-height: 40px;
}

#u6996-4
{
	z-index: 301;
	width: 340px;
	min-height: 40px;
}

#u6995-4
{
	z-index: 305;
	width: 340px;
	min-height: 40px;
}

#u6998-4
{
	z-index: 313;
	width: 340px;
	min-height: 40px;
}

#u6999-4
{
	z-index: 309;
	width: 340px;
	min-height: 40px;
}

#u5019-4:active,#u5021-4:active,#u5023-4:active,#u5024-4:active,#u5025-4:active,#u5026-4:active,#u5027-4:active,#u5028-4:active,#u5029-4:active,#u5030-4:active,#u5031-4:active,#u5033-4:active,#u5032-4:active,#u7005-4:active,#u7006-4:active,#u7004-4:active,#u7012-4:active,#u7014-4:active,#u7010-4:active,#u7011-4:active,#u7013-4:active,#u6997-4:active,#u6996-4:active,#u6995-4:active,#u6998-4:active,#u6999-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5055
{
	z-index: 53;
	height: 335px;
	background: transparent url("../../images/swecqueiswheretheheartis.jpg") no-repeat center center;
	background-size: cover;
}

#u5055-bw
{
	z-index: 53;
	margin-top: -80px;
	margin-bottom: -80px;
	height: 335px;
}

#u5066-4
{
	z-index: 54;
	width: 361px;
	min-height: 32px;
	background-color: transparent;
	font-size: 14px;
	text-align: justify;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 10px;
	position: relative;
}

#u5067-4
{
	z-index: 58;
	width: 361px;
	min-height: 115px;
	background-color: transparent;
	line-height: 22px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	position: relative;
}

#u5068-4
{
	z-index: 62;
	width: 168px;
	min-height: 30px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	visibility: inherit;
	margin-left: 106px;
	position: relative;
}

#u5068-4 > *
{
	color: #2BA0AB;
}

#u5070
{
	z-index: 67;
	height: 46px;
	width: 60px;
	vertical-align: top;
	margin-left: 160px;
	position: relative;
	background: url("../../images/down95-u5070.png") no-repeat 0px 0px;
}

#u5070:hover
{
	background: url("../../images/down95-u5070-r.png") no-repeat 0px 0px;
}

#u5071
{
	z-index: 69;
	min-height: 661px;
	background: #1EBEEA url("../../images/u5071-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(38%, #177199),to(#1EBEEA));
	background: -webkit-linear-gradient(top,#177199 38%,#1EBEEA );
	background: linear-gradient(to bottom,#177199 38%,#1EBEEA );
}

#u5072-4
{
	z-index: 70;
	width: 373px;
	min-height: 42px;
	border-style: solid;
	font-size: 35px;
	line-height: 35px;
	padding-top: 0px;
	visibility: inherit;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 627px;
	left: 3px;
	border-width: 0px 0px 2px;
}

#u5072-4 > *
{
	padding-top: 3px;
}

#u5071-bw
{
	z-index: 69;
	min-height: 661px;
}

#u5073-4
{
	z-index: 74;
	width: 360px;
	min-height: 171px;
	background-color: transparent;
	line-height: 22px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u5067-4 > *,#u5073-4 > *
{
	padding-top: 5px;
}

#u5074
{
	z-index: 78;
	height: 261px;
	background: transparent url("../../images/swagpatrick-thimo2.jpg") no-repeat center center;
	background-size: cover;
}

#u5074-bw
{
	z-index: 78;
	margin-top: 11px;
	height: 261px;
}

#u5078
{
	z-index: 79;
	min-height: 450px;
	background-color: #000000;
	padding-bottom: 8px;
}

#u5079-36
{
	z-index: 80;
	width: 174px;
	min-height: 227px;
	background-color: transparent;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 2px;
	color: #EFEFEF;
	text-align: right;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u5080-26
{
	z-index: 116;
	width: 167px;
	min-height: 261px;
	background-color: transparent;
	color: #EFEFEF;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 203px;
}

#u5078-bw
{
	z-index: 79;
	min-height: 450px;
}

#u5081-7
{
	z-index: 142;
	width: 360px;
	min-height: 230px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
	margin-left: 10px;
	margin-top: 13px;
	position: relative;
}

#pu4169,#pu5126,#pu6990,#pu4179
{
	width: 0.01px;
}

#u4179
{
	z-index: 3;
	min-height: 466.65000000000055px;
	padding-bottom: 0px;
}

#u4179_position_content
{
	margin-top: -77px;
	padding-bottom: 127px;
}

#u5152
{
	z-index: 14;
	margin-left: 87px;
}

#u6907-4
{
	z-index: 33;
	width: 299px;
	min-height: 34px;
	margin-left: 40px;
	margin-top: 25px;
}

#u6906-4
{
	z-index: 29;
	width: 299px;
	min-height: 34px;
	margin-left: 40px;
	margin-top: 5px;
}

#u6908-4
{
	z-index: 37;
	width: 299px;
	min-height: 34px;
	margin-left: 40px;
	margin-top: 5px;
}

#u6909-4
{
	z-index: 41;
	width: 299px;
	min-height: 34px;
	margin-left: 40px;
	margin-top: 5px;
}

#u4179-bw
{
	z-index: 3;
	min-height: 466.65000000000055px;
}

#u4547-6
{
	z-index: 4;
	min-height: 34px;
}

#u4547-6-bw
{
	z-index: 4;
	min-height: 34px;
	margin-top: 396px;
}

#u4553-4
{
	z-index: 10;
	min-height: 12px;
}

#u4553-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px;
}

#u4553-4-bw
{
	z-index: 10;
	min-height: 12px;
	margin-top: 368px;
}

#u6905
{
	z-index: 15;
	width: 299px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 85px;
	left: 40px;
}

#u6892
{
	z-index: 16;
	width: 259px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 21px;
}

#u6893
{
	z-index: 18;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
}

#u6899
{
	z-index: 24;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 73px;
}

#u6895
{
	z-index: 27;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 146px;
}

#u6897
{
	z-index: 21;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 211px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

