.version.about_us /* version checker */
{
	color: #000003;
	background-color: #4D21C8;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 889.8000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -40px;
	margin-bottom: -195px;
	width: 0.01px;
}

#pu4169
{
	width: 0.01px;
	padding-bottom: 475px;
	margin-left: -3px;
}

#u4169
{
	z-index: 2;
	height: 110px;
}

#u4169-bw
{
	z-index: 2;
	margin-top: 40px;
	height: 110px;
}

#u5053-4
{
	z-index: 13;
	min-height: 44px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
}

#u5053-4-bw
{
	z-index: 13;
	min-height: 44px;
	margin-top: 170px;
}

#u5054-4
{
	z-index: 17;
	width: 346px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 20px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u5054-2
{
	font-family: unifrakturmaguntia, fantasy;
}

#pamphletu4985
{
	z-index: 118;
	width: 0.01px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 309px;
}

#u4988
{
	z-index: 119;
	width: 53px;
	margin-right: -10000px;
}

#u4991
{
	width: 53px;
	height: 46px;
}

#u4991:hover
{
	width: 53px;
	height: 46px;
	min-height: 0px;
	margin: 0px;
}

#u4992popup
{
	z-index: 121;
}

#u4992
{
	width: 386px;
	padding-bottom: 44px;
	top: 31px;
	left: -309px;
}

#u4995
{
	z-index: 122;
	width: 342px;
	height: 542px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u4995_position_content
{
	padding-top: 36px;
	padding-bottom: 228px;
}

#pu5126
{
	width: 0.01px;
}

#u5126
{
	z-index: 123;
	width: 342px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u5016-4
{
	z-index: 199;
	width: 182px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u5041-4
{
	z-index: 124;
	width: 342px;
	min-height: 56px;
	top: -1px;
	margin-bottom: -1px;
}

#u5041-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#u5041-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#accordionu4972
{
	z-index: 128;
	width: 342px;
}

#u4973
{
	z-index: 129;
	width: 342px;
}

#u4976-4
{
	z-index: 130;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4974
{
	z-index: 134;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2.000000000000057px;
}

#u5019-4
{
	z-index: 135;
	width: 340px;
	min-height: 40px;
}

#u5021-4
{
	z-index: 139;
	width: 340px;
	min-height: 40px;
}

#u5023-4
{
	z-index: 143;
	width: 340px;
	min-height: 40px;
}

#u4981
{
	z-index: 147;
	width: 342px;
}

#u4982-4
{
	z-index: 148;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4.AccordionPanelTabOpen,#u4982-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4983
{
	z-index: 152;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5024-4
{
	z-index: 153;
	width: 340px;
	min-height: 40px;
}

#u5025-4
{
	z-index: 157;
	width: 340px;
	min-height: 40px;
}

#u5026-4
{
	z-index: 161;
	width: 340px;
	min-height: 40px;
}

#u5027-4
{
	z-index: 165;
	width: 340px;
	min-height: 40px;
}

#u5028-4
{
	z-index: 169;
	width: 340px;
	min-height: 40px;
}

#u4977
{
	z-index: 173;
	width: 342px;
}

#u4978-4
{
	z-index: 174;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4982-4.AccordionPanelTabOpen,#u4978-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4978-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4979
{
	z-index: 178;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5029-4
{
	z-index: 179;
	width: 340px;
	min-height: 40px;
}

#u5030-4
{
	z-index: 183;
	width: 340px;
	min-height: 40px;
}

#u5031-4
{
	z-index: 187;
	width: 340px;
	min-height: 40px;
}

#u5033-4
{
	z-index: 195;
	width: 340px;
	min-height: 40px;
}

#u5032-4
{
	z-index: 191;
	width: 340px;
	min-height: 40px;
}

#u5019-4:active,#u5021-4:active,#u5023-4:active,#u5024-4:active,#u5025-4:active,#u5026-4:active,#u5027-4:active,#u5028-4:active,#u5029-4:active,#u5030-4:active,#u5031-4:active,#u5033-4:active,#u5032-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5118
{
	z-index: 203;
	margin-right: -10000px;
	left: 3px;
}

#u5055
{
	z-index: 21;
	height: 335px;
	background: transparent url("../../images/swecqueiswheretheheartis.jpg") no-repeat center center;
	background-size: cover;
}

#u5055-bw
{
	z-index: 21;
	margin-top: -475px;
	margin-bottom: -335px;
	height: 335px;
}

#u5066-4
{
	z-index: 22;
	width: 361px;
	min-height: 32px;
	background-color: transparent;
	font-size: 14px;
	text-align: justify;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 10px;
	top: -140px;
	margin-bottom: -51px;
	position: relative;
}

#u5067-4
{
	z-index: 26;
	width: 361px;
	min-height: 115px;
	background-color: transparent;
	line-height: 22px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	top: -89px;
	margin-bottom: -89px;
	position: relative;
}

#u5068-4
{
	z-index: 30;
	width: 168px;
	min-height: 30px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	visibility: inherit;
	margin-left: 106px;
	position: relative;
}

#u5068-4 > *
{
	color: #1686DA;
}

#u5070
{
	z-index: 35;
	height: 46px;
	width: 60px;
	vertical-align: top;
	margin-left: 160px;
	position: relative;
	background: url("../../images/down95-u5070.png") no-repeat 0px 0px;
}

#u5070:hover
{
	background: url("../../images/down95-u5070-r.png") no-repeat 0px 0px;
}

#u5071
{
	z-index: 37;
	min-height: 661px;
	background: #1EBEEA url("../../images/u5071-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(38%, #177199),to(#1EBEEA));
	background: -webkit-linear-gradient(top,#177199 38%,#1EBEEA );
	background: linear-gradient(to bottom,#177199 38%,#1EBEEA );
}

#u5072-4
{
	z-index: 38;
	width: 373px;
	min-height: 42px;
	border-style: solid;
	font-size: 35px;
	line-height: 35px;
	padding-top: 0px;
	visibility: inherit;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 627px;
	left: 3px;
	border-width: 0px 0px 2px;
}

#u5072-4 > *
{
	padding-top: 3px;
}

#u5071-bw
{
	z-index: 37;
	min-height: 661px;
}

#u5073-4
{
	z-index: 42;
	width: 360px;
	min-height: 171px;
	background-color: transparent;
	line-height: 22px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u5067-4 > *,#u5073-4 > *
{
	padding-top: 5px;
}

#u5074
{
	z-index: 46;
	height: 261px;
	background: transparent url("../../images/swagpatrick-thimo.jpg") no-repeat center center;
	background-size: cover;
}

#u5074-bw
{
	z-index: 46;
	margin-top: 11px;
	height: 261px;
}

#u5078
{
	z-index: 47;
	min-height: 450px;
	background-color: #000000;
	padding-bottom: 8px;
}

#u5079-36
{
	z-index: 48;
	width: 174px;
	min-height: 227px;
	background-color: transparent;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 2px;
	color: #EFEFEF;
	text-align: right;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u5080-25
{
	z-index: 84;
	width: 167px;
	min-height: 261px;
	background-color: transparent;
	color: #EFEFEF;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 203px;
}

#u5078-bw
{
	z-index: 47;
	min-height: 450px;
}

#u5081-9
{
	z-index: 109;
	width: 360px;
	min-height: 230px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
	margin-left: 10px;
	margin-top: 13px;
	position: relative;
}

#pu4179
{
	width: 0.01px;
	margin-top: 42px;
}

#u4179
{
	z-index: 3;
	min-height: 123px;
	padding-bottom: 101px;
}

#u5152
{
	z-index: 12;
	margin-right: -10000px;
	margin-top: -82px;
	left: 88px;
}

#u4179-bw
{
	z-index: 3;
	min-height: 123px;
}

#u4547-4
{
	z-index: 4;
	min-height: 34px;
}

#u4547-4-bw
{
	z-index: 4;
	min-height: 34px;
	margin-top: 178px;
}

#u4553-4
{
	z-index: 8;
	min-height: 12px;
}

#u4553-4-bw
{
	z-index: 8;
	min-height: 12px;
	margin-top: 150px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

