.version.index /* version checker */
{
	color: #0000F6;
	background-color: #425DFF;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2583.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -40px;
	width: 0.01px;
}

#pu4169
{
	width: 0.01px;
	padding-bottom: 204px;
	margin-left: -3px;
}

#u4169
{
	z-index: 2;
	height: 110px;
}

#u4169-bw
{
	z-index: 2;
	margin-top: 40px;
	height: 110px;
}

#u4391
{
	z-index: 3;
	min-height: 309.7300502268571px;
	padding: 120px 16px 15.269949773142912px 17px;
	background: transparent url("../../images/haylandscape.jpg") no-repeat center center;
	background-size: cover;
}

#u4392
{
	z-index: 14;
	width: 347px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#u4392_img
{
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
}

#u4499
{
	z-index: 55;
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 59px;
	margin-top: 82px;
	position: relative;
}

#u4500
{
	z-index: 56;
	width: 221px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4502
{
	z-index: 58;
	width: 213px;
	height: 66px;
	border-width: 4px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 18px;
	position: relative;
	margin-right: -10000px;
}

#u4502:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 16px rgba(22,134,218,0.6),0px 0px 16px rgba(22,134,218,0.6);
	width: 213px;
	height: 66px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4391-bw
{
	z-index: 3;
	min-height: 309.7300502268571px;
	margin-top: 40px;
}

#pamphletu4985
{
	z-index: 166;
	width: 0.01px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 309px;
}

#u4988
{
	z-index: 167;
	width: 53px;
	margin-right: -10000px;
}

#u4991
{
	width: 53px;
	height: 46px;
}

#u4991:hover
{
	width: 53px;
	height: 46px;
	min-height: 0px;
	margin: 0px;
}

#u4992popup
{
	z-index: 169;
}

#u4992
{
	width: 386px;
	padding-bottom: 44px;
	top: 31px;
	left: -309px;
}

#u4995
{
	z-index: 170;
	width: 342px;
	height: 542px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u4995_position_content
{
	padding-top: 36px;
	padding-bottom: 228px;
}

#u5126
{
	z-index: 171;
	width: 342px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u5016-4
{
	z-index: 247;
	width: 182px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u5041-4
{
	z-index: 172;
	width: 342px;
	min-height: 56px;
	top: -1px;
	margin-bottom: -1px;
}

#u5041-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#u5041-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#accordionu4972
{
	z-index: 176;
	width: 342px;
}

#u4973
{
	z-index: 177;
	width: 342px;
}

#u4976-4
{
	z-index: 178;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4974
{
	z-index: 182;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5019-4
{
	z-index: 183;
	width: 340px;
	min-height: 40px;
}

#u5021-4
{
	z-index: 187;
	width: 340px;
	min-height: 40px;
}

#u5023-4
{
	z-index: 191;
	width: 340px;
	min-height: 40px;
}

#u4981
{
	z-index: 195;
	width: 342px;
}

#u4982-4
{
	z-index: 196;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4.AccordionPanelTabOpen,#u4982-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4983
{
	z-index: 200;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5024-4
{
	z-index: 201;
	width: 340px;
	min-height: 40px;
}

#u5025-4
{
	z-index: 205;
	width: 340px;
	min-height: 40px;
}

#u5026-4
{
	z-index: 209;
	width: 340px;
	min-height: 40px;
}

#u5027-4
{
	z-index: 213;
	width: 340px;
	min-height: 40px;
}

#u5028-4
{
	z-index: 217;
	width: 340px;
	min-height: 40px;
}

#u4977
{
	z-index: 221;
	width: 342px;
}

#u4978-4
{
	z-index: 222;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4982-4.AccordionPanelTabOpen,#u4978-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4978-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4979
{
	z-index: 226;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5029-4
{
	z-index: 227;
	width: 340px;
	min-height: 40px;
}

#u5030-4
{
	z-index: 231;
	width: 340px;
	min-height: 40px;
}

#u5031-4
{
	z-index: 235;
	width: 340px;
	min-height: 40px;
}

#u5033-4
{
	z-index: 243;
	width: 340px;
	min-height: 40px;
}

#u5032-4
{
	z-index: 239;
	width: 340px;
	min-height: 40px;
}

#u5019-4:active,#u5021-4:active,#u5023-4:active,#u5024-4:active,#u5025-4:active,#u5026-4:active,#u5027-4:active,#u5028-4:active,#u5029-4:active,#u5030-4:active,#u5031-4:active,#u5033-4:active,#u5032-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5118
{
	z-index: 251;
	margin-right: -10000px;
	left: 3px;
}

#u4496
{
	z-index: 16;
	width: 367px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	top: -181px;
	margin-bottom: -181px;
	position: relative;
}

#slideshowu4401
{
	z-index: 17;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 33px;
}

#u4415
{
	position: absolute;
	width: 302px;
	height: 180px;
	background-color: transparent;
}

#u4415popup
{
	z-index: 18;
}

#u4422
{
	z-index: 19;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4422_img
{
	margin-left: -9px;
	margin-right: -9px;
}

#u4424
{
	z-index: 21;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4426
{
	z-index: 23;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4434
{
	z-index: 25;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4430
{
	z-index: 27;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4436
{
	z-index: 29;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4420
{
	z-index: 31;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4418
{
	z-index: 33;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4438
{
	z-index: 35;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4416
{
	z-index: 37;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4432
{
	z-index: 39;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4428
{
	z-index: 41;
	width: 302px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/screenshot_2015-06-29-22-45-48-u4422-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u4422_clip,#u4424_clip,#u4426_clip,#u4434_clip,#u4430_clip,#u4436_clip,#u4420_clip,#u4418_clip,#u4438_clip,#u4416_clip,#u4432_clip,#u4428_clip
{
	overflow: hidden;
	width: 302px;
	height: 180px;
}

#u4424_img,#u4426_img,#u4434_img,#u4430_img,#u4436_img,#u4420_img,#u4418_img,#u4438_img,#u4416_img,#u4432_img,#u4428_img
{
	margin-top: -4px;
	margin-bottom: -5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u4395
{
	z-index: 43;
	width: 367px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4497-6
{
	z-index: 45;
	min-height: 83px;
	background-color: transparent;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u4497-6-bw
{
	z-index: 45;
	min-height: 83px;
	margin-top: 7px;
}

#u4498-4
{
	z-index: 51;
	width: 164px;
	min-height: 41px;
	border-style: none;
	line-height: 43px;
	margin-left: 108px;
	margin-top: 28px;
	position: relative;
}

#u4498-4:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #177199;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 162px;
	margin: 27px -1px -1px 107px;
}

.Button
{
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
}

#u4498-4:hover p,#u4498-4:hover h2
{
	color: #177199;
	visibility: inherit;
}

#u4508
{
	z-index: 59;
	min-height: 248.69999999999936px;
	padding-bottom: 0px;
	background: #000000 url("../../images/swecqueintro.jpg") no-repeat center center;
	background-size: cover;
}

#u4508_position_content
{
	margin-bottom: -17px;
	padding-top: 17px;
}

#u5538-4
{
	z-index: 162;
	width: 249px;
	min-height: 62px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 23px;
	position: relative;
}

#u4511-4
{
	z-index: 60;
	width: 123px;
	min-height: 40px;
	border-style: none;
	line-height: 43px;
	margin-left: 23px;
	margin-top: 16px;
	position: relative;
}

#u4511-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 123px;
	margin: 16px 0px 0px 23px;
}

#u4511-2
{
	color: #FFFFFF;
}

#u4514-4
{
	z-index: 64;
	width: 346px;
	min-height: 48px;
	border-style: solid;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 17px;
	margin-top: 78px;
	position: relative;
	border-width: 0px 0px 2px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u4514-4 > *
{
	padding-top: 3px;
}

#u4508-bw
{
	z-index: 59;
	min-height: 248.69999999999936px;
	margin-top: 31px;
}

#u5477
{
	z-index: 68;
	width: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 40px;
	position: relative;
}

#u5481
{
	z-index: 81;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u5480-4
{
	z-index: 73;
	width: 278px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	position: relative;
}

#u5478-4
{
	z-index: 77;
	width: 278px;
	min-height: 80px;
	border-style: solid;
	border-color: #C5C3C3;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 0px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	border-width: 1px 0px;
}

#u5479-4
{
	z-index: 69;
	width: 278px;
	min-height: 29px;
	border-style: none;
	line-height: 29px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5484
{
	z-index: 83;
	width: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 33px;
	position: relative;
}

#u5486
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u5485-4
{
	z-index: 88;
	width: 278px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	position: relative;
}

#u5489-4
{
	z-index: 92;
	width: 278px;
	min-height: 80px;
	border-style: solid;
	border-color: #C5C3C3;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 0px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	border-width: 1px 0px;
}

#u5488-4
{
	z-index: 84;
	width: 278px;
	min-height: 29px;
	border-style: none;
	line-height: 29px;
	position: relative;
}

#u5488-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 278px;
	margin: 0px;
}

#u5527
{
	z-index: 147;
	width: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 34px;
	position: relative;
}

#u5530
{
	z-index: 160;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#pu5480-4,#pu5485-4,#pu5528-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 82px;
}

#u5528-4
{
	z-index: 152;
	width: 278px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	position: relative;
}

#u5529-4
{
	z-index: 156;
	width: 278px;
	min-height: 52px;
	border-style: solid;
	border-color: #C5C3C3;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	border-width: 1px 0px;
}

#u5529-2
{
	font-size: 18px;
}

#u5532-4
{
	z-index: 148;
	width: 278px;
	min-height: 29px;
	border-style: none;
	line-height: 29px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5479-4:hover,#u5532-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 278px;
	margin: 0px 0px -1px;
}

#u4511-4:hover p,#u4511-4:hover h2,#u5479-4:hover p,#u5479-4:hover h3,#u5488-4:hover p,#u5488-4:hover h3,#u5532-4:hover p,#u5532-4:hover h3
{
	color: #29ABE2;
	visibility: inherit;
}

#u5495
{
	z-index: 98;
	width: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 34px;
	position: relative;
}

#u5510
{
	z-index: 99;
	width: 344px;
	-pie-box-shadow: -3px 6px 7px #AFAFAF;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.31);
	background-color: #177199;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	padding: 8px 6px 107.40489426467275px 10px;
}

#pu5126,#pu5515
{
	width: 0.01px;
}

#u5515
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu5496-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 78px;
}

#u5496-4
{
	z-index: 100;
	width: 261px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	margin-left: 5px;
	position: relative;
}

#u5497-4
{
	z-index: 106;
	width: 266px;
	min-height: 57px;
	border-style: solid;
	border-color: #C5C3C3;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 0px;
	padding-top: 0px;
	visibility: inherit;
	position: relative;
	border-width: 1px 0px;
}

#u5478-4 > *,#u5489-4 > *,#u5497-4 > *
{
	padding-bottom: 5px;
	padding-top: 10px;
}

#pu5498
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 21px;
}

#u5498
{
	z-index: 114;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#pu5500-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 66px;
}

#u5500-4
{
	z-index: 110;
	width: 268px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
}

#u5511-4
{
	z-index: 116;
	width: 268px;
	min-height: 29px;
	border-style: solid;
	line-height: 29px;
	margin-top: 1px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u5511-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 268px;
	margin: 1px 0px 0px;
}

#pu5505
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 20px;
}

#u5505
{
	z-index: 128;
	width: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5506
{
	z-index: 129;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u5508-4
{
	z-index: 131;
	width: 17px;
	min-height: 43px;
	background-color: transparent;
	color: #177199;
	font-size: 36px;
	line-height: 43px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 23px;
}

#u5517-4
{
	z-index: 120;
	width: 268px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 66px;
}

#pu5501
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 28px;
}

#u5501
{
	z-index: 139;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u5509-4
{
	z-index: 135;
	width: 268px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u5500-2,#u5517-2,#u5509-2
{
	font-size: 18px;
	color: #FFFFFF;
}

#u5514-4
{
	z-index: 124;
	width: 268px;
	min-height: 29px;
	border-style: none;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 81px;
}

#u5514-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 268px;
	margin: 251px -10000px 0px 0px;
}

#u5511-4:hover p,#u5511-4:hover h3,#u5514-4:hover p,#u5514-4:hover h3
{
	color: #EFEFEF;
	visibility: inherit;
}

#u5511-2,#u5514-2
{
	color: #29ABE2;
}

#u5503
{
	z-index: 142;
	height: 43px;
	width: 43px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 133px;
	background: url("../../images/u5503.png") no-repeat 0px 0px;
}

#u5503:hover
{
	background: url("../../images/u5503-r.png") no-repeat 0px 0px;
}

#u5512
{
	z-index: 145;
	height: 41px;
	width: 41px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 81px;
	background: url("../../images/u5512.png") no-repeat 0px 0px;
}

#u5512:hover
{
	background: url("../../images/u5512-r.png") no-repeat 0px 0px;
}

#pu4179
{
	width: 0.01px;
	margin-top: 64px;
}

#u4179
{
	z-index: 4;
	min-height: 123px;
	padding-bottom: 101px;
}

#u5152
{
	z-index: 13;
	margin-right: -10000px;
	margin-top: -82px;
	left: 88px;
}

#u4179-bw
{
	z-index: 4;
	min-height: 123px;
}

#u4547-4
{
	z-index: 5;
	min-height: 34px;
}

#u4547-4-bw
{
	z-index: 5;
	min-height: 34px;
	margin-top: 178px;
}

#u4553-4
{
	z-index: 9;
	min-height: 12px;
}

#u4553-4-bw
{
	z-index: 9;
	min-height: 12px;
	margin-top: 150px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

