#u4169
{
	background: transparent url("../../images/haylandscape.jpg") no-repeat center top;
	background-size: cover;
}

#pamphletu4985,#u4988
{
	position: relative;
}

#u4991
{
	position: absolute;
	border-color: #DEDEDE;
	background: transparent url("../../images/menu_whiteshadow.svg") no-repeat center center;
	background-size: contain;
}

#u4991:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-size: contain;
}

.nosvg #u4991
{
	background-image: url('../../images/menu_whiteshadow_poster_u5112.png');
}

#u4992
{
	position: absolute;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	-pie-background: rgba(68,68,68,0.9);
}

#u4995
{
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 0px;
	position: relative;
}

#u5126
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#u5016-4
{
	border-style: solid;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 2px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u5041-4
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u5041-4:active
{
	background-color: #FFFFFF;
}

#u5041-4:active p,#u5041-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5041-2
{
	padding-left: 5px;
	padding-top: 8px;
	color: #333333;
}

#accordionu4972
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-color: #7F7F7F;
	background-color: #3AD0CF;
	position: relative;
}

#u4976-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4976-4:active
{
	background-color: #FFFFFF;
}

#u4976-4:active p,#u4976-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u4976-2
{
	padding-left: -5px;
}

#u4974
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/group66-u4974-fr.png") no-repeat center center;
	background-size: cover;
}

#u5019-4
{
	line-height: 34px;
	position: relative;
}

#u5019-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

.Mob_Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u5021-4
{
	line-height: 34px;
	position: relative;
}

#u5021-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5023-4
{
	line-height: 34px;
	position: relative;
}

#u5023-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u4982-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4982-4:active
{
	background-color: #FFFFFF;
}

#u4982-4:active p,#u4982-4:active h2,#u4982-4.AccordionPanelTabOpen p,#u4982-4.AccordionPanelTabOpen h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u4982-2
{
	padding-left: -5px;
}

#u4983
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/game55-u4983-fr.png") no-repeat center center;
	background-size: cover;
}

#u5024-4
{
	line-height: 34px;
	position: relative;
}

#u5024-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5025-4
{
	line-height: 34px;
	position: relative;
}

#u5025-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5026-4
{
	line-height: 34px;
	position: relative;
}

#u5026-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5027-4
{
	line-height: 34px;
	position: relative;
}

#u5027-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5028-4
{
	line-height: 34px;
	position: relative;
}

#u5028-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u4973,#u4981,#u4977
{
	background-color: transparent;
	position: relative;
}

#u4978-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4978-4:active
{
	background-color: #FFFFFF;
}

#u5041-4.MuseLinkActive,#u4976-4.AccordionPanelTabOpen,#u4982-4.AccordionPanelTabOpen,#u4978-4.AccordionPanelTabOpen
{
	background-color: #EBEAEA;
}

#u4978-4:active p,#u4978-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5041-4.MuseLinkActive p,#u5041-4.MuseLinkActive h2,#u4976-4.AccordionPanelTabOpen p,#u4976-4.AccordionPanelTabOpen h2,#u4978-4.AccordionPanelTabOpen p,#u4978-4.AccordionPanelTabOpen h2
{
	color: #177199;
	visibility: inherit;
}

#u4978-2
{
	padding-left: -5px;
}

#u4979
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/information68-u4979-fr.png") no-repeat center center;
	background-size: cover;
}

#u5029-4
{
	line-height: 34px;
	position: relative;
}

#u5029-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5030-4
{
	line-height: 34px;
	position: relative;
}

#u5030-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5031-4
{
	line-height: 34px;
	position: relative;
}

#u5031-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5033-4
{
	line-height: 34px;
	position: relative;
}

#u5033-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5032-4
{
	line-height: 34px;
	position: relative;
}

#u5032-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#u4179
{
	background-color: #2BA0AB;
}

#u5118,#u5152
{
	overflow: hidden;
	position: relative;
}

.FooterHeading
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 2px;
}

#u6907-2
{
	padding-top: 5px;
}

#u6906-2
{
	padding-top: 5px;
}

#u6908-2
{
	padding-top: 5px;
}

#u6907-4,#u6906-4,#u6908-4,#u6909-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u6909-2
{
	padding-top: 5px;
}

#u4547-6
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u4553-4
{
	background-color: transparent;
	text-decoration: underline;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u4553-4:hover p
{
	text-decoration: underline;
}

#u6905
{
	-pie-box-shadow: -4px 7px 7px #AAAAAA;
	box-shadow: -4px 7px 7px rgba(0,0,0,0.33);
	background-color: #FFFFFF;
	position: relative;
}

#u6892
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6893
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u6893.png") no-repeat 0px 0px;
}

#u6893:hover
{
	background: url("../../images/u6893-r.png") no-repeat 0px 0px;
}

#u6899
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u6899.png") no-repeat 0px 0px;
}

#u6899:hover
{
	background: url("../../images/u6899-r.png") no-repeat 0px 0px;
}

#u6895
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u6895.png") no-repeat 0px 0px;
}

#u6895:hover
{
	background: url("../../images/u6895-r.png") no-repeat 0px 0px;
}

#u6897
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u6897.png") no-repeat 0px 0px;
}

#u6897:hover
{
	background: url("../../images/u6897-r.png") no-repeat 0px 0px;
}

