#u4169
{
	background: transparent url("../../images/haylandscape.jpg") no-repeat center top;
	background-size: cover;
}

#u4991
{
	position: absolute;
	border-color: #DEDEDE;
	background: transparent url("../../images/menu_whiteshadow.svg") no-repeat center center;
	background-size: contain;
}

#u4991:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-size: contain;
}

.nosvg #u4991
{
	background-image: url('../../images/menu_whiteshadow_poster_u5112.png');
}

#u4992
{
	position: absolute;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	-pie-background: rgba(68,68,68,0.9);
}

#u4995
{
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 0px;
	position: relative;
}

#u5126
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#u5016-4
{
	border-style: solid;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 2px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u5041-4
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u5041-4:active
{
	background-color: #FFFFFF;
}

#u5041-4:active p,#u5041-4:active h2
{
	color: #1686DA;
	visibility: inherit;
}

#u5041-2
{
	padding-left: 5px;
	padding-top: 8px;
	color: #333333;
}

#accordionu4972
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-color: #7F7F7F;
	background-color: #29ABE2;
	position: relative;
}

#u4976-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4976-4:active
{
	background-color: #FFFFFF;
}

#u4976-4:active p,#u4976-4:active h2
{
	color: #1686DA;
	visibility: inherit;
}

#u4976-2
{
	padding-left: -5px;
}

#u4974
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/group66-u4974-fr.png") no-repeat center center;
	background-size: cover;
}

#u5019-4
{
	line-height: 34px;
	position: relative;
}

#u5019-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

.Mob_Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u5021-4
{
	line-height: 34px;
	position: relative;
}

#u5021-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5023-4
{
	line-height: 34px;
	position: relative;
}

#u5023-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u4982-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4982-4:active
{
	background-color: #FFFFFF;
}

#u4982-4:active p,#u4982-4:active h2
{
	color: #1686DA;
	visibility: inherit;
}

#u4982-2
{
	padding-left: -5px;
}

#u4983
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/game55-u4983-fr.png") no-repeat center center;
	background-size: cover;
}

#u5024-4
{
	line-height: 34px;
	position: relative;
}

#u5024-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5025-4
{
	line-height: 34px;
	position: relative;
}

#u5025-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5026-4
{
	line-height: 34px;
	position: relative;
}

#u5026-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5027-4
{
	line-height: 34px;
	position: relative;
}

#u5027-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5028-4
{
	line-height: 34px;
	position: relative;
}

#u5028-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u4973,#u4981,#u4977
{
	background-color: transparent;
	position: relative;
}

#u4978-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4978-4:active
{
	background-color: #FFFFFF;
}

#u5041-4.MuseLinkActive,#u4976-4.AccordionPanelTabOpen,#u4982-4.AccordionPanelTabOpen,#u4978-4.AccordionPanelTabOpen
{
	background-color: #EBEAEA;
}

#u4978-4:active p,#u4978-4:active h2
{
	color: #1686DA;
	visibility: inherit;
}

#u5041-4.MuseLinkActive p,#u5041-4.MuseLinkActive h2,#u4976-4.AccordionPanelTabOpen p,#u4976-4.AccordionPanelTabOpen h2,#u4982-4.AccordionPanelTabOpen p,#u4982-4.AccordionPanelTabOpen h2,#u4978-4.AccordionPanelTabOpen p,#u4978-4.AccordionPanelTabOpen h2
{
	color: #177199;
	visibility: inherit;
}

#u4978-2
{
	padding-left: -5px;
}

#u4979
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/information68-u4979-fr.png") no-repeat center center;
	background-size: cover;
}

#u5029-4
{
	line-height: 34px;
	position: relative;
}

#u5029-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5030-4
{
	line-height: 34px;
	position: relative;
}

#u5030-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5031-4
{
	line-height: 34px;
	position: relative;
}

#u5031-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5033-4
{
	line-height: 34px;
	position: relative;
}

#u5033-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

#u5032-4
{
	line-height: 34px;
	position: relative;
}

#u5032-4:active
{
	background-color: #8BB8CC;
	background-color: rgba(23,113,153,0.5);
	-pie-background: rgba(23,113,153,0.5);
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#u4179
{
	background-color: #177199;
}

#pamphletu4985,#u4988,#u5118,#u5152
{
	position: relative;
}

#u4547-4,#u4553-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

